#MainContainer
{
	float:left;
	
	width:980px;
	height:500px;
	background:#fafafa;
	border:1px solid #888;
	margin:10px 10px 10px 10px !important;
	margin:10px 0 0 5px;
}

#ErrorTitle
{
	float:left;
	margin:50px 0 10px 190px !important;
	margin:50px 0 10px 90px;
	width:600px;
	height:30px;
	line-height:30px;
	padding-left:5px;
	border-bottom:1px solid #aaa;
	color:#333;
	font-weight:bold;
	font-family:"Tahoma",Lucida Grande, sans-serif;
}

#ErrorDescription
{
	float:left;
	width:600px;
	height:200px;
	margin:0 0 0 190px !important;
	margin:0 0 0 90px;
	border-left:1px dashed #aaa;
	padding-left:5px;
	line-height:20px;
}

#ErrorDescription li
{
	list-style-type:circle;
	line-height:25px;
}

a.ReturnLink:link, a.ReturnLink:visited
{
	float:left;
	clear:left;
	display:block;
	width:500px;
	height:20px;
	margin:20px 0 0 250px !important;
	margin:20px 0 0 140px;
	font-family:Lucida Grande, SimSun, Tahoma, Arial, sans-serif;
	color:#c00;
	font-decoration:underline;
}

a.ReturnLink:hover
{
	color:#f00;
}