.GroupHeader
{
	float:left;
	clear:left;
	display:block;
	width:250px;
	height:12px;
	margin:0px 0 0 5px;
	background:url(/img/App_GUI/BundleCover/Block_Start.jpg) bottom no-repeat;
}

.GroupBody
{
	float:left;
	clear:left;
	display:block;
	width:240px !important;
	width:250px;
	margin:0 0 0 5px;
	background:url(/img/App_GUI/BundleCover/Block_Mid.jpg) repeat-y;
	
	padding:0 0px 0 10px;
	line-height:20px;
	color:#333;
	font-family:Tahoma, Arial, sans-serif;
	font-size:12px;
}

.GroupFooter
{
	float:left;
	clear:left;
	display:block;
	width:250px;
	height:12px;
	margin:0 0 0 5px;
	background:url(/img/App_GUI/BundleCover/Block_End.jpg) top no-repeat;
}

	.Login_Btn
	{
		float:right;
		width:120px;
		height:25px;
		color:#333;
		line-height:20px;
		font-family:Tahoma, sans-serif;
		font-size:12px;
		font-weight:bold;
		margin:5px 10px 0 0;
	}
	
	.Input_UserName
	{
		float:left;
		width:228px;
		height:20px;
		line-height:17px;
		border:1px solid #555;
		background:#eee;
		text-align:center;
		font-size:12px;
		font-weight:bold;
		color:#555;
	}

	
a.Logoff:link, a.Logoff:visited
{
	float:right;
	display:block;
	margin:2px 0 0 0;
	width:55px;
	height:20px;
	background:url(/img/App_GUI/BundleCover/logoff.jpg) no-repeat;
}

a.Logoff:hover
{
	background:url(/img/App_GUI/BundleCover/logoff_hover.jpg) no-repeat;
}