#AbsContainer
{

}

h2
{
	margin:0 0 5px 0;
	float:left;
	display:block;
	width:230px;
	height:30px;
	line-height:30px;
	font-size:16px;
	border-bottom:2px solid #49f;
}

h3
{
	margin:0 0 5px 0;
	float:left;
	display:block;
	width:230px;
	height:20px;
	line-height:20px;
	font-size:13px;
	font-weight:bold;
	color:#555;
	border-bottom:1px solid #888;
}

cite
{
	float:left;
	display:block;
	margin:0 0 0 0;
	font-size:11px;
	color:#555;
	font-style:normal;
}

a.CiteLink:link, a.CiteLink:visited
{
	font-size:11px;
	color:#444;
	text-decoration:underline;
}

a.CiteLink:hover
{
	color:#000;
}

.LicenceType
{
	font-weight:bold;
	color:#f33;
	text-decoration:underline;
}

.SystemStatus_Online
{
	font-weight:bold;
	color:#17c;
}
.SystemStatus_Offline
{
	font-weight:bold;
	color:#c33;
}

.RadioButton
{
	margin:0 5px 0 20px;
}

#LeftSide
{
	float:left;
	margin:0 0 0 0;
	width:220px;
	height:500px;
	/* background: url(/img/App_GUI/BundleCover/Sep_Line.jpg) no-repeat right; */
}
	
	a.Login_Controls:link, a.Login_Controls:visited
	{
		float:left;
		display:block;
		margin:0 0 0 0;
		line-height:20px;
		color:#333;
		text-decoration:none;
	}
	
	a.Login_Controls:hover
	{
		color:#000;
		text-decoration:underline;
	}

	.InputBox
	{
		margin:0 0 0 20px;
		width:140px;
		height:20px;
		text-align:center;
	}

.Group
{
	float:left;
	display:block;
	margin:10px 0 0 20px !important;
	margin:10px 0 0 10px;
	width:300px;
}
	
	.Avator_Upload
	{
		width:150px;
		height:20px;
	}
	
	.SpecialInfo
	{
		float:left;
		display:block;
		width:230px;
		height:25px;
		
		border-top:2px solid #69f;
		margin:10px 0 0 0;
		color:#06c;
		line-height:25px;
		text-align:center;
		font-size:11px;
	}

.Label
{
	float:left;
	display:block;
	margin:20px 0 0 20px;
}

.SettingsLabel
{
	float:right;
	margin-right:20px;
	margin-top:200px;
	width:200px;
	height:38px;
	background:url(/img/App_GUI/BundleCover/Label_BasicSettings.jpg) right no-repeat;
}

.AdvancedSettings
{
	background:url(/img/App_GUI/BundleCover/Label_AdvSettings.jpg) right no-repeat !important;
}

#CopyRightZone
{
	width:100%;
	height:55px;
	position:absolute;
	left:5px;
	bottom:0px;
}

#CopyRightZone p
{
	line-height:0px;
	font-family:'Tahoma', 'Lucida Grande', arial, sans-serif;
	color:#ccc;
	font-size:11px;
}

#RightSide
{
	float:left;
	margin:0 0 0 0;


}

.Right
{
	float:right;
	display:block;
	width:70px;
	height:25px;
	line-height:25px;
	text-align:center;
}

	.Input_UserName	/* twik for ie. */
	{
		width:228px !important;
		width:210px;
	}
	
/* adv */
.Group_B
{
	float:left;
	display:block;
	margin:10px 0 0 20px !important;
	margin:10px 0 0 10px;
	width:600px;
}


.GroupHeader_B
{
	float:left;
	clear:left;
	display:block;
	width:565px;
	height:12px;
	margin:0px 0 0 5px;
	background:#fff url(/img/App_GUI/BundleCover/Block_Start_b.jpg) bottom left no-repeat;
}

.GroupBody_B
{
	float:left;
	clear:left;
	display:block;
	width:555px !important;
	width:565px;
	margin:0 0 0 5px;
	background:url(/img/App_GUI/BundleCover/Block_Mid_b.jpg) left repeat-y;
	
	padding:0 0px 0 10px;
	line-height:20px;
	color:#333;
	font-family:Tahoma, Arial, sans-serif;
	font-size:12px;
}

.GroupFooter_B
{
	float:left;
	clear:left;
	display:block;
	width:565px;
	height:12px;
	margin:0 0 0 5px;
	background:url(/img/App_GUI/BundleCover/Block_End_b.jpg) top left no-repeat;
}

#UserList
{
	float:left;
	overflow:auto;
	width:545px;
	margin:0 0 5px 0;
	height:200px;
	border-bottom:1px solid #ccc;
}

.UserItem
{
	float:left;
	width:100%;
	height:39px;
	line-height:39px;
	color:#333;
	border-top:1px dashed #ccc;
}

.UserItem:hover
{
	background:#eee;
}

.User_Avator
{
	float:left;
	display:block;
	width:59px;
	height:39px;
	border-right:1px dashed #eee;
	
}

.User_Nickname
{
	float:left;
	display:block;
	width:255px;
	height:39px;
	overflow:hidden;
	font-size:16px;
	font-weight:bold;
	margin:0 10px 0 5px;
}

.User_Properties
{
	float:right;
	display:block;
	height:39px;
	line-height:18px;
	font-size:12px;
	color:#666;
	
	margin:0 10px 0 0;

}

.User_Property
{
	float:right;
	display:inline-block;
	
	height:39px;

	line-height:18px !important;

	font-size:12px;
	color:#666;
	
	margin:0 10px 0 0;

}

a.TrashIcon:link, a.TrashIcon:visited
{
	float:right;
	display:block;
	width:29px;
	height:29px;
	background:url(/img/App_GUI/Misc/trash.gif) center no-repeat;
	margin:5px 5px 0 5px;
}

a.TrashIcon:hover
{
	background-color:#777;
}

.Indicator
{
	float:right;
	display:block;
	width:70px;
	height:30px;
	background:#fff;
	font-size:14px;
	text-align:center;
}
.RightSide
{
	margin-left:20px;
}