#MainContainer
{
	width:980px;
	height:400px;
	background:#fafafa;
	border:1px solid #888;
	margin:0px 10px 10px 10px;
}

#ProfileTitle
{
	margin:50px 0 10px 190px;
	width:600px;
	height:30px;
}

#ProfileTitle p
{
	border-bottom:1px solid #aaa;
	color:#333;
	font-weight:bold;
	font-family:"Tahoma",Lucida Grande, sans-serif;
	font-size:15px;
	line-height:30px;
	margin-left:10px;
}

#ProfileDescription
{
	width:600px;
	height:200px;
	margin:0 0 0 190px;
	border-left:1px dashed #aaa;
	padding-left:5px;
}

#ProfileDescription li
{
	list-style-type:none;
	margin:20px 0 0 10px;
}

#Signature
{
	margin-top:10px;
	padding:10px 0 0 10px;
	float:right;
	width:500px;
	border-top:1px dotted #aaa;
	color:#555;
}
#Signature cite
{
	display:block;
	margin-bottom:10px;
}