body
{
	background:url(/img/App_GUI/BundleCover/login_bg.jpg) !important;
}

#ActivateForm
{
	float:left;
}

#LeftSide
{
	float:left;
	margin:0 0 0 0;
	width:350px;
	height:500px;
}
	
	a.Login_Controls:link, a.Login_Controls:visited
	{
		float:left;
		display:block;
		margin:0 0 0 0;
		line-height:20px;
		color:#333;
		text-decoration:none;
	}
	
	a.Login_Controls:hover
	{
		color:#000;
		text-decoration:underline;
	}

	.SpecialInfo
	{
		float:left;
		display:block;
		width:230px;
		height:25px;
		
		border-top:2px solid #69f;
		margin:10px 0 0 0;
		color:#06c;
		line-height:25px;
		text-align:center;
	}

.Label
{
	float:left;
	display:block;
	margin:20px 0 0 10px;
}

.WelcomeLabel
{
	float:right;
	margin-right:20px;
	margin-top:200px;
	width:150px;
	height:38px;
	background:url(/img/App_GUI/BundleCover/Label_Welcome.jpg) right no-repeat;
}

#CopyRightZone
{
	width:100%;
	height:55px;
	position:absolute;
	left:5px;
	bottom:0px;
}

#CopyRightZone p
{
	line-height:0px;
	font-family:'Tahoma', 'Lucida Grande', arial, sans-serif;
	color:#ccc;
	font-size:11px;
}

#RightSide
{
	float:left;
	margin:0 0 0 0;
	width:640px;
	height:500px;
	position:relative;
}


	#StatusText
	{
		position:absolute;
		left:15px;
		bottom:90px;
		width:500px;
		height:20px;
		line-height:20px;
		font-size:11px;
		color:#555;
	}
	

.Right
{
	float:right;
	display:block;
	width:70px;
	height:25px;
	line-height:25px;
	text-align:center;
}

.GroupHeader_b
{
	float:left;
	clear:left;
	display:block;
	width:550px;
	height:12px;
	margin:10px 0 0 20px;
	background:url(/img/App_GUI/BundleCover/Block_Start_b.jpg) bottom no-repeat;
}

.GroupBody_b
{
	float:left;
	clear:left;
	display:block;
	width:540px !important;
	width:550px;
	margin:0 0 0 20px;
	background:url(/img/App_GUI/BundleCover/Block_Mid_b.jpg) repeat-y;
	
	padding:0 0px 0 10px;
	line-height:20px;
	color:#333;
	font-family:Tahoma, Arial, sans-serif;
	font-size:12px;
}

.GroupFooter_b
{
	float:left;
	clear:left;
	display:block;
	width:550px;
	height:12px;
	margin:0 0 0 20px;
	background:url(/img/App_GUI/BundleCover/Block_End_b.jpg) top no-repeat;
}

#Welcome
{
	float:left;
	position:relative;
	width:750px;
	height:420px;
	margin:80px 0 10px 80px !important;
	margin:80px 0 10px 70px;
	background:url(/img/App_GUI/BundleCover/Welcome_bg.jpg) left top no-repeat;
}

	fieldset {
		float:left;
		width:93%;
		margin:0 0 10px 15px;
		
		border:1px solid #aaa;
	}

a.NextButton:link, a.NextButton:visited
{
	display:block;
	position:absolute;
	width:110px !important;
	width:120px;
	height:25px;
	right:19px;
	bottom:98px;
	text-align:center;
	line-height:25px;
	
	padding-right:10px;
	
	color:#444;
	text-decoration:none;
	font-size:11px;
	font-weight:bold;
}

a.NextButton:hover
{
	color:#777;
}

a.NextButton:active
{
	color:#000;
}

.Line
{
	float:left;
	width:550px;
	height:30px;
	margin-left:20px;
	
	color:#777;
}

.ErrorMessage
{
	float:left;
	width:450px;
	height:30px;
	margin-left:20px;
	
	color:#777;

	line-height:30px;
	color:#f55;
	font-weight:bold;
}

.MessageTitle
{
	float:left;
	display:block;
	width:650px;
	height:30px;
	margin:0 0 0 20px;
	color:#111;
	line-height:30px;
	font-weight:bold;
}

.MessageBody
{
	float:left;
	display:block;
	width:630px;
	margin:0 0 0px 30px;
	color:#666;
	line-height:20px;
}

.DefaultAvator
{
	width:200px;
	float:left;
	border:1px solid #fff;
	margin:0 0 10px 170px;
}

.TextLabel
{
	float:left;
	display:block;
	width:150px;
	height:30px;
	line-height:30px;
	font-weight:bold;
	text-align:right;
}

#Welcome cite
{
	float:left;
	clear:left;
	margin:0 0 10px 130px;
	font-style:normal;
	color:#888;
	font-size:11px;
}

.LineInput
{
	float:left;
	width:200px;
	height:20px;
	margin:5px 0 0 10px;
	text-align:center;
}

.LineInput_Med
{
	float:left;
	width:150px;
	height:20px;
	margin:5px 0 0 10px;
	text-align:center;
}

.LineInput_Short
{
	float:left;
	width:50px;
	height:20px;
	margin:5px 0 0 10px;
	text-align:center;
}

.SelectInput
{
	margin:5px 0 0 10px;
}

.LineRadio
{
	margin:5px 10px 0 50px;
}

#Welcome h1
{
	float:left;
	display:block;
	width:500px;
	height:20px;
	line-height:20px;
	font-size:13px;
	margin:10px 0 0 15px !important;
	margin:10px 0 0 10px;
	color:#000;
}

#Welcome h2
{
	float:left;
	display:block;
	width:500px;
	height:15px;
	line-height:15px;
	font-size:12px;
	margin:0 0 20px 15px !important;
	margin:0 0 0 10px;
	color:#333;
	font-weight:normal;
}
a.ItemGroup:link, a.ItemGroup:visited
{
	float:left;
	width:450px;
	margin:5px 0 5px 20px;
	
	display:block;
	border:1px solid #aaa;
	padding:5px 5px 5px 5px;
	text-decoration:none;
	
	cursor:hand !important;
}

a.ItemGroup:hover
{
	border:1px solid #eee;
}

.Line_In_Group
{
	float:left;
	width:450px;
	height:30px;
	color:#000;
}

.LanguageSelector
{
	margin:0 0 0 100px !important;
}

#ErrorMessage
{
	float:left;
	display:block;
	width:600px;
	height:30px;
	background:#fff;
	border:1px solid #58c;
	margin:0px 0 10px 20px;
	line-height:30px;
	font-size:14px;
	text-align:center;
}

#Indicator
{
	position:absolute;
	right:360px;
	top:190px;
	width:24px;
	height:24px;
}