#Container {
	overflow:hidden;
}

#WizardPanel {
	
	float:left;
	position:relative;
	width:200%;
	
	background:#efefef;
	
	border-bottom:1px solid #777;
	
	overflow:hidden;
	
	
}

#WizardPanel_Left {
	position:absolute;

	left:0px;
	top:0px;
	
	width:12.5%;
	height:100%;
	
	background:rgba(251, 251, 251, 1) url(/img/App_GUI/Start/pagicoIcon.png) center 10% no-repeat;
	border-right:1px solid rgba(0,0,0, 0.2);
	
	z-index:100;
	-webkit-transition: all 0.3s ease-in-out;
	
}

	#loadingMessage {
		position:absolute;
		left:0px;
		width:100%;
	
		text-align:center;
		top:55%;
		font-size:30px;
		color:#ccc;
	
		-webkit-transition: all 0.3s ease-in-out;
	
		opacity:0;
	
		text-transform:uppercase;
	
		text-shadow:0 1px 0 #fff;
	}

#WizardPanel.loading #WizardPanel_Left {
	width:50%;
	background-position:center 35%;
}

#WizardPanel.loading #loadingMessage {
	opacity:1;
}


#WizardPanel_Right {
	float:left;
	
	width:36%;
	height:100%;
	
	margin-left:14%;

	overflow:auto;
	position:relative;
	
	-webkit-transition: all 0.3s ease-in-out;
}

#WizardPanel.loading #WizardPanel_Right {
	margin-left:100%;
}

#WizardPanel_Controls {
	float:left;
	width:100%;
	height:38px;
	position:relative;
	
	border-top:1px solid #eee;

	background:#c0c0c0;

	background: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0, rgb(201, 201, 201)),
	    color-stop(1, rgb(167, 167, 167))
	) !important;
}

	#WizardPanel_Controls_ButtonGroup_Left {
		position:absolute;
		float:left;
		left:10px;
		top:0;
		/*
		float:left;
		width:42%;
		margin:0 0 0 10px;
		*/
	}
	#WizardPanel_Controls_ButtonGroup_Left .snowleopardButton {
		float:left;
	}
	
	#WizardPanel_Controls_ButtonGroup_Right .snowleopardButton {
		float:right;
	}
	
	#WizardPanel_Controls_ButtonGroup_Right {
		/*
		float:right;
		width:42%;
		margin:0 10px 0 0;
		*/
		position:absolute;
		float:right;
		right:10px;
		top:0;
	}

	a.snowleopardButton:link, a.snowleopardButton:visited, a.snowleopardButton:hover {
		float:left;
		display:block;
		margin:8px 5px 0 5px;
		
		font-size:13px;
		color:#000 !important;
		
		background:#dcdcdc;
		
		background: -webkit-gradient(
		    linear,
		    left top,
		    left bottom,
		    color-stop(0, rgb(254, 254, 254)),
		    color-stop(1, rgb(184, 184, 184))
		) !important;
		
		padding:0 20px 0 20px;
		line-height:20px !important;
		height:20px !important;
		
		border:1px solid #575757;
		
		text-decoration:none !important;
		cursor:default;
		
		-webkit-border-radius:3px;
	}
	
	a.snowleopardButton:active {
		-webkit-box-shadow:inset 0 0 5px #000000;
		
		background:#bdbdbd;
		
		background: -webkit-gradient(
		    linear,
		    left top,
		    left bottom,
		    color-stop(0, rgb(185, 185, 185)),
		    color-stop(1, rgb(163, 163, 163))
		) !important;
	}
	
	.snowleopardButton_Disabled {
		opacity:0.5;
		background:rgba(0,0,0, 0.1) !important;
		border:1px solid #777 !important;

		-webkit-box-shadow:none !important;
	}
	
	a.altLink:link, a.altLink:visited, a.altLink:hover, .altText {
		float:right;
		margin:8px 5px 0 5px;
		display:block;
		font-size:11px;
		color:#333;
		
		height:20px;
		line-height:20px;
		
		text-shadow:0 1px 0 #fff;
	}
	
	a.altLink:active {
		color:#555;
	}
	
#WizardPanel h1 {
	float:left;
	width:100%;
	margin:20px 0 5px 0;
	font-size:20px;
	font-weight:normal;
	color:#000;
	text-shadow:0 1px 0 #fff;
}

#WizardPanel h2 {
	float:left;
	width:100%;
	margin:10px 0 5px 0;
	font-size:14px;
	color:#000;
	text-shadow:0 1px 0 #fff;
}

#WizardPanel .MessageTitle {
	float:left;
	width:100%;
	margin:10px 0 5px 0;
	font-size:13px;
	font-weight:bold;
	color:#222;
	text-shadow:0 1px 0 #fff;
}

.MessageBody {
	float:left;
	width:90%;
	margin:0px 0 5px 20px;
	font-size:12px;
	color:#444;
	text-shadow:0 1px 0 #fff;
	line-height:20px;
}

.StatusText {
	position:absolute;
	left:0px;
	bottom:10px;
	width:95%;
	color:#444;
	text-shadow:0 1px 0 #fff;
}

#WizardPanel a:link, #WizardPanel a:visited, #WizardPanel a:hover {
	color:#444;
	text-decoration:underline;
}

#WizardPanel a:active {
	color:#999;
}

.LineInput {
	width:50%;
	font-size:13px;
	line-height:14px;
	height:20px;
	margin:0;
	text-align:center;
	border:1px solid rgba(0,0,0,0.4);
	-webkit-border-radius:3px;
}


.optionGroup {
	float:left;
	display:block;
	width:100%;
	-webkit-transition: all 0.2s ease-in-out;
}
.disabledOptionGroup {
	opacity:0.3;
}

#WizardPanel p {
	color:#444;
}

#WizardPanel label {
	cursor:pointer;
}


#sheetPanel {
	position:absolute;
	width:45%;
	
	left:27.5%;
	top:-350px;
	
	-webkit-box-shadow:0 0 10px rgba(0,0,0,0.7);
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	background:rgba(255, 255, 255, 0.97);
	
	-webkit-transition: all 0.3s ease-in-out;	
	
	z-index:2000;
	
	padding:20px 20px 10px 20px;
}

.proxySetting #sheetPanel {
	top:0px;
}

.proxySetting #WizardPanel, .proxySetting #WizardPanel_Controls {
	opacity:0.7;
}

#sheetPanel table {
	float:left;
	width:95%;
	margin-left:5%;
}

#sheetPanel table.footer {
	width:100%;
	margin:0;
}

#sheetPanel table.settings_Disabled {
	opacity:0.5;
}

#sheetPanel table, #sheetPanel tr, #sheetPanel td {
	border:0;
}

#sheetPanel td {
	line-height:20px;
	height:20px;
	color:#222;
	font-size:12px;
}

.itemLabel {
	text-align:right;
}

#sheetPanel h1 {
	float:left;
	width:100%;
	height:20px;
	line-height:20px;
	color:#000;
	font-size:18px;
	font-weight:normal;
	margin:0 0 20px 0;
	padding:0;
}

#sheetPanel .submitButton {
	float:right;
}

#sheetPanel hr {
	border:0;
	height:1px;
	width:100%;
	float:left;
	color:#aaa;
	background-color:#aaa;
}

#sheetPanel .textInput {
	
	font-size:13px;
	line-height:14px;
	height:20px;
	margin:0;
	text-align:center;
	border:1px solid rgba(0,0,0,0.4);
	-webkit-border-radius:3px;
	
}

#sheetPanel .snowleopardButton {
	float:right;
	margin:0;
}