body
{
	background:#fff !important;
}

#HintText
{
	float:left;
	display:block;
	width:1000px;
	height:20px;
	font-size:12px;
	color:#999;
	cursor:hand;
	
	bottom:0px;
	text-align:right;
	margin:0 0 0 0;
}

a.HintLink:link, a.HintLink:visited
{
	font-size:10px;
	color:#aaa;
}

a.HintLink:hover
{
	color:#fff;
}

#SplashScreen
{
	position:relative;
	width:1000px;
	height:480px;

	background:url(/img/App_GUI/BundleCover/SplashScreen_2.jpg) center center no-repeat;
}

	#SplashScreen a:link, #SplashScreen a:visited
	{
		position:absolute;
		left:0px;
		top:0px;
		width:990px !important;
		width:1000px;
		height:470px !important;
		height:480px;
		/* border:5px solid #fff; */
	}
	/*
	#SplashScreen a:hover
	{
		border:5px solid #69f;
	}
	#SplashScreen a:active
	{
		border:5px solid #27c;
	}
	*/