[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=pagico
Name=Pagico
Comment=Paperless working made very easy
Comment[zh_CN]=创建轻松愉快的无纸化办公体验
Comment[zh_TW]=創建輕松愉快的無紙化辦公體驗
Icon=pagico
Categories=Application;Office
