/* Special Override for Japanese */
body
{
	font-family:"Hiragino Kaku Gothic Pro", Gothic, Mincho, "Lucida Grande", Tahoma, sans-serif !important;
}

.TabCounter
{
	padding-top:1px !important;
	line-height:15px !important;
	font-weight:bold;
}

.Today_NewTaskBtn {
	line-height:18px !important;
}

.Topic_TagSelection, .Topic_Selected_TagSelection {
	padding-top:1px !important;
}