body
{
	font-family:"Lucida Grande", Tahoma, arial, helvetica,sans-serif;
	font-size:12px;
	margin:0 0 0 0;
	padding:0 0 0 0;
	/* background:url(/img/2008/mainarea_bg.jpg) left top repeat-y #fff; */
	background:#222;
	
	text-align:center;
}

body form
{
	margin:0 0 0 0;
	padding:0 0 0 0;
}

img{border:0px}

a:link,a:visited{color:#c7c7c7;}
a:hover{text-decoration: underline; color:#fff;}
a:active{text-decoration: underline; color:#f00;}

a.Dark:link, a.Dark:visited{text-decoration: none;color:#333;}
a.Dark:hover{text-decoration: underline; color:#000;}
a.Dark:active{text-decoration: underline; color:#f00;}

a.White:link, a.White:visited {text-decoration: none;color:#eee;}
a.White:hover{text-decoration: underline; color:#fff;}
a.White:active{text-decoration: underline; color:#f0f0f0;}

a.Grey:link, a.Grey:visited{text-decoration: none;color:#666;}
a.Grey:hover{text-decoration: underline; color:#000;}
a.Grey:active{text-decoration: underline; color:#f00;}

a.Red:link, a.Red:visited{text-decoration: underline;color:#A61C3D;}
a.Red:hover{text-decoration: underline; color:#F00;}
a.Red:active{text-decoration: underline; color:#666;}

a.Blue:link, a.Blue:visited{text-decoration: underline;color:#36f;}
a.Blue:hover{text-decoration: underline; color:#036;}
a.Blue:active{text-decoration: underline; color:#f00;}

#Container
{
	float:left;
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	
	text-align:left;
	
	background:#000;
}

.Avatar
{
	border:1px solid #888;
	width:227px;
	height:150px;
}

.ProgressBar_BG
{
	float:left;
	clear:left;
	width:700px;
	height:20px;
	margin:0 0 0 20px;
	background:url(/img/App_GUI/Misc/indicator.gif) no-repeat left;
}

/* Language Supports */
.LanguageSelector
{
	float:left;
	width:225px;
	background:#fff;
	border:1px solid #555;
}

.LanguageItem
{
	float:left;
	margin:0 0 1px 0;
	width:225px;
	height:30px;
	background:#fff;
	border-bottom:1px solid #ccc;
}

.LanguageRadio
{
	float:left;
	margin:10px 5px 0 20px;
}

.LanguagePict
{
	float:right;
	width:170px;
	height:30px;
	border-left:2px solid #888;
}

.EmptyIndicator_s
{
	float:left;
	clear:left;
	display:block;
	padding-bottom:15px;
	width:600px;
	color:#999;
	margin:5px 0 0 20px;
	line-height:20px;
}

#mainCurtain {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:2000px;
	background:#1f1f1f url(/img/App_GUI/Misc/indicator_lg_2.gif) center center no-repeat;
	z-index:1000;
}