/* Special Override for Chinese */
body
{

	font-family:"Lucida Grande", Hei, Tahoma, SimHei, SimSun, Hei, Arial, helvetica,sans-serif;

}


.ListDesc, .EmptyPart, .Part_Caption, .PageLock_Password_Prompt, #PageLock_Hint, .PageItem_Line_Key, .PageList_Tags, .PageList_ModifyTime,
a.ImageDescription:link, a.ImageDescription:visited, .ImageFileName, .ImageDescription_Edit,
.ControlArea_GroupTitle, a.SubCategoryLink:link, a.SubCategoryLink:visited, .NewFile_Controllers, #PageControls,
.TopicListTable_DateCol_Header,.TopicListTable_DateCol2_Header, .TopicListTable_DateColFinishedTask, .TopicListTable_DateCol2, .TopicListTable_DateCol,
.SideBarGroup, .SideBarGroup_Expanded, .SideBarGroup_Collapsed, .popupSelection_Menu_Item,
.FlowChart_Item, .ProgressBar, .FlowChart_Hint, .FlowChart_Print, .FlowChart_Header,
.TaskItem, .TaskItem_GroupTitle, .TaskItem_Desc, .TaskItem_Date, .Today_TaskFrame_ListItem_Description,
.dashboard_AllTasks_GroupTitle, .Todo_Date, .tableHeader,
.BottomMenu_AddMenu_Item, .BottomMenu_AddMenu_Hint,List_Dates_Hint,
.PageSet_Desc, .PageDate, .PageSet_Tag, PageSet_Edit_Frame, .PageSet_Edit,
legend, LetterSep, .Contact_Line, .Contact_Line_w, .Contact_Line_Hint, .Activity_DateTime, p, .Activity_Status, .Activity_Category, .Activity_Link, .Archive_ControlBox, .Contacts_CollapsedGroup, .Contacts_ExpandedGroup, #x_ArchivedContent,
.dataView_StatusText, .ClippingItem, .altLink, .altText
{
	font-size:12px !important;
}

.TitleLink
{
	font-weight:bold;
}


.SideBarGroup, .SideBarGroup_Expanded, .SideBarGroup_Collapsed, .SubCategory_Item, legend {
	font-weight:normal !important;
}

.Dashboard_TodayTag div:last-child {
	margin-top:15px;
}