Source: pagico
Section: text
Priority: optional
Maintainer: Tualatrix Chou <tualatrix@gmail.com>
Build-Depends: debhelper (>= 7.0.50~),
 intltool,
 python-central (>= 0.5.6),
 python-dev,
 python-setuptools,
 python-distutils-extra
Standards-Version: 3.9.1
Homepage: http://www.pagico.com

Package: pagico
Architecture: all
Depends: python-gtk2,
 python-dbus,
 python-webkit,
 libcurl3,
 ${python:Depends}
Description: Pagico
 Your personal knowledge base for data and relationship.
 .
 - Brand New Flowchart feature
 - Fold-able task groups and objects
 - Simple Task Rescheduling through the flowchart
 - Automatic sequential tasks
 - Repeating tasks
 - Color-coded tasks
 - Greatly improved user interface
 - New UI Theme: Professional
 - Enhanced Printing Capability
 - And many more minor improvements and bug-fixes
