Source: pagico
Section: text
Priority: optional
Maintainer: Tualatrix Chou <tualatrix@gmail.com>
Build-Depends: debhelper (>= 7.0.50~),
 intltool,
 python-central (>= 0.5.6),
 python-dev,
 python-setuptools,
 python-distutils-extra
Standards-Version: 3.9.1
Homepage: http://www.pagico.com

Package: pagico
Architecture: any
Depends: python-gtk2,
 python-dbus,
 python-webkit,
 libcurl3,
 ia32-libs [amd64],
 ${misc:Depends},
 ${python:Depends}
Description: Pagico 5
 - Better support for input methods (confirming character selection won’t trigger the saving process when editing list items or text notes)
 - The search result can now be scrolled and shows you all the matching results
 - Improved the repeating task feature and its icon placement
 - A much better notification feature for workspace updates (it now shows you a detailed list of updated data)
 - Greatly improved Workspace synchronize algorithm with better progress display
 - Items sync’ed through workspaces are now shown with their actual modify time
 - Dashboard flowchart automatically folds foreign task groups
 - InboxSync ready
 - Pagico ID ready
 - Compatible with P+ for iPad
 - A number of bug fixes
