body
{
	background:#222 url(/img/2009/signin_blue.jpg) center top no-repeat;
}

#Login_PagicoLogo
{
	position:absolute;
	
	bottom:100px;
	left:100px;
	
	width:128px;
	height:128px;

	background:url(/img/2009/PagicoIcon_128x128.png) center center no-repeat;
	visibility:hidden;
}

#Copyright
{
	position:absolute;
	width:100%;
	left:0px;
	bottom:5px;
	text-align:center;
	font-size:11px;
	color:#fff;
	opacity: 0.8;
	filter:alpha(opacity=80);
	font-weight:bold;
	text-shadow:0 -1px 0 #000;
	
}

#Login_Strip
{
	position:absolute;
	left:0px;
	bottom:50px;
	width:100%;
	height:150px;
	background:#000;
	
	opacity:0.3;
	filter:alpha(opacity=30); /* IE patch */
	z-index:0;
}

#Login_Textbox
{

	position:absolute;
	bottom:100px;
	left:100px;

	width:240px;
	height:25px;

	background:url(/img/2009/signin_textbox.jpg) left top no-repeat;	
	z-index:10;
}

	#Login_Textbox_Input
	{
		position:absolute;
		left:30px;
		top:2px;
		
		width:207px;
		height:19px;
		line-height:15px;
		
		border:0px;
		
		text-align:center;
	}
	
	#Login_Textbox_Hint
	{
		position:absolute;
		left:30px;
		top:2px;
		color:#777;
		font-size:11px;
		z-index:20;
		width:207px;
		height:19px;
		line-height:19px;
		background:#fff;
		text-align:center;
	}

#Container
{
	
	height:650px;
}

	#LoginArea
	{
		position:absolute;
		
		left:40px;
		top:275px;
		width:920px;
		height:110px;

	}
	
		#LoginContainer
		{
			margin:0 auto 0 auto;
			text-align:center;
			line-height:110px;
			color:#666;
			cursor:hand;
			cursor:pointer;
		}
	
		#Indicator
		{
			display:block;
			width:100%;
			height:110px;
			background:url(/img/App_GUI/Misc/indicator_8.gif) center center no-repeat;
		}
	
		a.LoginItem:link, a.LoginItem:visited
		{
			position:relative;
			float:left;
			
			display:block;
			width:255px;
			height:80px;
			background:#eee;
			border:1px solid #ccc;
			margin:15px 0 0 10px;
			text-align:left;
			text-decoration:none;
			color:#444;
		}
		
		a.LoginItem:hover
		{
			background:#fff;
			border:1px solid #aaa;
			color:#000;
		}
		
		.Login_Picture
		{
			position:absolute;
			left:5px;
			top:5px;
			width:106px;
			height:70px;
			line-height:80px;
		}
		
		.Login_Name
		{
			position:absolute;
			left:120px;
			width:120px;
			height:80px;
			
			font-size:20px;
			font-weight:bold;
			line-height:80px;
		}
		
		#Password
		{
			width:300px;
			height:20px;
			line-height:20px;
			font-size:14px;
			color:#777;
			margin:30px 0 0 0;
		}
		
		#Password_Hint
		{
			width:300px;
			height:20px;
			line-height:20px;
			font-size:12px;
			color:#777;
			text-align:left;
		}

cite
{
	float:left;
	display:block;
	margin:0 0 0 0;
	font-size:11px;
	color:#555;
}

	a.Login_Controls:link, a.Login_Controls:visited
	{
		float:left;
		display:block;
		margin:0 0 0 0;
		line-height:20px;
		color:#333;
		text-decoration:none;
	}
	
	a.Login_Controls:hover
	{
		color:#000;
		text-decoration:underline;
	}

.GroupHeader
{
	float:left;
	clear:left;
	display:block;
	width:250px;
	height:10px;
	margin:130px 0 0 10px;
	background:url(/img/App_GUI/BundleCover/Block_Start.jpg) bottom no-repeat;
}

.GroupBody
{
	float:left;
	clear:left;
	display:block;
	width:240px !important;
	width:250px;
	margin:0 0 0 10px;
	background:url(/img/App_GUI/BundleCover/Block_Mid.jpg) repeat-y;
	
	padding:0 0px 0 10px;
	line-height:20px;
	color:#333;
	font-family:Tahoma, Arial, sans-serif;
	font-size:12px;
}

	.Input_UserName
	{
		float:left;
		display:block;
		width:228px;
		height:20px;
		line-height:17px;
		border:1px solid #555;
		background:#eee;
		text-align:center;
		font-size:12px;
		font-weight:bold;
		color:#555;
	}
	.Login_Btn
	{
		float:right;
		width:120px;
		height:25px;
		color:#333;
		line-height:20px;
		font-family:Tahoma, sans-serif;
		font-size:12px;
		font-weight:bold;
		margin:5px 10px 0 0;
	}
	.SpecialInfo
	{
		float:left;
		display:block;
		width:230px;
		height:25px;
		
		border-top:2px solid #69f;
		margin:10px 0 0 0;
		color:#06c;
		line-height:25px;
		text-align:center;
	}

.GroupFooter
{
	float:left;
	clear:left;
	display:block;
	width:250px;
	height:12px;
	margin:0 0 0 10px;
	background:url(/img/App_GUI/BundleCover/Block_End.jpg) no-repeat;
}

.Label
{
	float:left;
	display:block;
	margin:20px 0 0 10px;
}

.LoginLabel
{
	float:right;
	margin-right:20px;
	margin-top:200px;
	width:100px;
	height:38px;
	background:url(/img/App_GUI/BundleCover/Label_Login.jpg) no-repeat;
}

#CopyRightZone
{
	width:100%;
	height:55px;
	position:absolute;
	left:5px;
	bottom:0px;
}

#CopyRightZone p
{
	line-height:0px;
	font-family:'Tahoma', 'Lucida Grande', arial, sans-serif;
	color:#ccc;
	font-size:11px;
}

#RightSide
{
	float:left;
	margin:0 0 0 0;
	width:640px;
	height:500px;
}

a.UserItem:link, a.UserItem:visited
{
	float:left;
	display:block;
	position:relative;
	margin:25px 0 5px 0;
	width:270px;
	height:80px;
	text-decoration:none;
	font-weight:bold;
	color:#555;
	font-size:14px;
	border:1px solid #ccc;
	font-family:Arial, sans-serif;
	cursor:hand;
	background:#eee;
}

a.UserItem:hover
{
	color:#000;
	background:#fff;
	border:1px solid #a0a9af;
}

.UserAvator
{
	float:left;
	height:70px;
	margin:5px 0 0 5px;
}

.UserName
{
	float:left;
	margin:10px 0 0px 5px;
	font-size:22px;
	width:100px;
}

.Password_Input
{
	float:left;
	width:155px !important;
	width:140px;
	height:20px;
	background:#fff;
	border:1px solid #ccc;
	margin: 0 0 0 5px;
}

.HintText
{
	float:left;
	font-weight:normal;
	width:150px;
	height:20px;
	color:#888;
	font-size:12px;
	text-align:center;
	line-height:20px;
	margin:10px 0 0 5px;
}

.User_Indicator
{
	position:absolute;
	right:2px;
	top:2px;
	background:url(/img/App_GUI/Misc/indicator_4.gif) no-repeat;
	width:16px;
	height:16px;
}

#helpHint {
	position:absolute;
	float:left;
	left:100px;
	top:100px;
	background:rgba(255, 255, 255, 0.25);
	-webkit-border-radius:5px;
	padding:10px;
	font-size:17px;
	cursor:default;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
	color:#333;
	line-height:22px;
}

#helpHint:hover {background:rgba(255, 255, 255, 0.4);}

#helpHint a:link, #helpHint a:visited {color:#333;font-size:12px;margin-left:10px;padding:0 10px 0 10px;border-left:1px solid rgba(50, 50, 50, 0.5);}
#helpHint a:hover {color:#444;}