h2
{
	margin:0 0 5px 0;
	float:left;
	display:block;
	width:230px;
	height:30px;
	line-height:30px;
	font-size:16px;
	border-bottom:2px solid #49f;
}

h3
{
	margin:0 0 5px 0;
	float:left;
	display:block;
	width:230px;
	height:20px;
	line-height:20px;
	font-size:13px;
	font-weight:bold;
	color:#c55;
	border-bottom:1px solid #888;
}

cite
{
	float:left;
	display:block;
	margin:0 0 0 0;
	font-size:11px;
	color:#555;
}

#LeftSide
{
	float:left;
	margin:0 0 0 0;
	width:350px;
	height:500px;
	background: url(/img/App_GUI/BundleCover/Sep_Line.jpg) no-repeat right;
}
	
	a.Login_Controls:link, a.Login_Controls:visited
	{
		float:left;
		display:block;
		margin:0 0 0 0;
		line-height:20px;
		color:#333;
		text-decoration:none;
	}
	
	a.Login_Controls:hover
	{
		color:#000;
		text-decoration:underline;
	}

	.SpecialInfo
	{
		float:left;
		display:block;
		width:230px;
		height:25px;
		
		border-top:2px solid #69f;
		margin:10px 0 0 0;
		color:#06c;
		line-height:25px;
		text-align:center;
	}

.Label
{
	float:left;
	display:block;
	margin:20px 0 0 10px;
}

.NewAccountLabel
{
	float:right;
	margin-right:20px;
	margin-top:200px;
	width:150px;
	height:38px;
	background:url(/img/App_GUI/BundleCover/Label_NewAccount.jpg) no-repeat;
}

#CopyRightZone
{
	width:100%;
	height:55px;
	position:absolute;
	left:5px;
	bottom:0px;
}

#CopyRightZone p
{
	line-height:0px;
	font-family:'Tahoma', 'Lucida Grande', arial, sans-serif;
	color:#ccc;
	font-size:11px;
}

#RightSide
{
	float:left;
	margin:0 0 0 0;
	width:640px;
	height:500px;
}

	

.Right
{
	float:right;
	display:block;
	width:70px;
	height:25px;
	line-height:25px;
	text-align:center;
}

.GroupHeader
{
	margin:100px 0 0 10px !important;
}