body
{
	/* background:url(/img/App_GUI/Start/background.jpg) left top !important; */
	margin:0;
	padding:0;
	
}


#StartPanel
{
	float:left;
	width:1000px;
	height:650px;
	
	background:url(/img/App_GUI/Start/panel_bg.jpg) left top no-repeat;
}

	#StartPanel_Content
	{
		float:left;
		position:relative;
		width:740px;
		height:420px;
		margin:100px 0 0 30px !important;
		margin:100px 0 0 10px;
		
	}

	#StartPanel_Welcome
	{
		float:left;
		width:90%;
		height:30px;
		font-size:25px;

		color:#8c8f94;
	}
	
	.StartPanel_SubPanel
	{
		float:left;
		
		width:45%;
		
		margin:25px 0 0 30px;
	}
	
		#StartPanel_Content p {
			float:left;
			width:95%;
			margin:0 0 0 20px;
			
			color:#444;
			
			line-height:20px;
		}
		
		.centeredText {
			width:50% !important;
			margin-left:32% !important;

		}
		
		.StartPanel_verticalSpacer {
			float:left;
			width:100%;
			margin:0;
			height:130px;
		}
	
	#StartPanel_Welcome_Desc
	{
		float:left;
		width:100%;
		height:350px;
		
		font-size:13px;
		
		line-height:20px;
		
		color:#737373;
	}
	
	.StartPanel_SubPanel_Title
	{
		float:left;
		position:relative;
		width:100%;
		font-size:13px;
		
		line-height:20px;
		color:#000;
		border-bottom:1px solid #777;
	}
	
		a.SubPanel_Link:link, a.SubPanel_Link:visited
		{
			position:absolute;
			right:0px;
			top:0px;
			font-size:12px;
			line-height:20px;
			color:#777;
			text-decoration:none;
		}
		
		a.SubPanel_Link:hover
		{
			color:#333;
			text-decoration:underline;
		}
	
	.StartPanel_SubPanel_Item
	{
		float:left;
		width:295px;
		height:45px;
		
		position:relative;
		
		margin:5px 0 5px 0;
		
		border:1px solid transparent !important;
		border:1px solid #eaedf4;
		
		background:url(/img/App_GUI/Start/subpanel_arrows.png) 0 0 no-repeat;
		
		cursor:default;
	}
	
	.StartPanel_SubPanel_Item_Selected
	{
		float:left;
		width:295px;
		height:45px;
		
		position:relative;
		
		margin:5px 0 5px 0;
		
		
		cursor:default;
		
		border:1px solid #ccc;
		background:#f7f9fb url(/img/App_GUI/Start/subpanel_arrows.png) 0 -45px no-repeat;
	}
	
	.StartPanel_SubPanel_Item_DB
	{
		float:left;
		width:295px;
		height:45px;
		
		position:relative;
		
		margin:5px 0 5px 0;
		
		border:1px solid transparent !important;
		border:1px solid #eaedf4;
		
		background:url(/img/App_GUI/Start/subpanel_arrows.png) 0 -89px no-repeat;
		
		cursor:default;
	}
	
	.StartPanel_SubPanel_Item_DB_Selected
	{
		float:left;
		width:295px;
		height:45px;
		
		position:relative;
		
		margin:5px 0 5px 0;
		
		
		cursor:default;
		
		border:1px solid #ccc;
		background:#f7f9fb url(/img/App_GUI/Start/subpanel_arrows.png) 0 -89px no-repeat;
	}
	
		.StartPanel_SubPanel_Item_DB_Selected:active, .StartPanel_SubPanel_Item_Selected:active {
			
			background-color:#e7e9eb;
			
		}
	
	.StartPanel_SubPanel_Item_Caption
	{
		position:absolute;
		left:40px;
		top:5px;
		font-size:15px;
		color:#000;
	}
	
	.StartPanel_SubPanel_Item_Desc
	{
		position:absolute;
		left:40px;
		bottom:5px;
		font-size:11px;
		color:#666;
	}
	
	
#StartPanel_ProgressBar
{
	position:absolute;
	float:left;
	left:260px;
	top:45%;
	
	width:165px;
	height:27px;
	background:url(/img/App_GUI/Start/subpanel_arrows.png) 0 -135px no-repeat;
}
	ul.ProgressBarHint {
		position:absolute;
		left:32%;
		top:230px;
		width:300px !important;
		margin:0 0 0 5px !important;
		font-size:11px;
	}
		li {list-style-type:none;color:#777; line-height:20px;padding:0;margin:0;text-indent:0px;}
		li.current {list-style-type:circle;color:#369 !important;font-weight:bold;}
		li.processed {list-style-type:disc;color:#444 !important;}

	#StartPanel_ProgressBar_Content
	{
		float:left;
		margin:3px 0 0 7px !important;
		margin:3px 0 0 3px;

		width:0px;
		height:21px;
		background:url(/img/App_GUI/Start/subpanel_arrows.png) 0 -162px no-repeat;
	}
	
	#StartPanel_ProgressBar_Content_Right
	{
		float:left;
		width:4px;
		height:21px;
		
		margin:3px 0 0 0;
		
		background:url(/img/App_GUI/Start/subpanel_arrows.png) -186px -162px no-repeat;
	}
/*	
#submitButton {
	position:absolute;
	right:20px;
	bottom:0px;
	
	width:200px;
	font-weight:bold;
	color:#16c;
	
}

#cancelButton {
	position:absolute;
	left:20px;
	bottom:0px;
	
	width:120px;
}
*/