.flowchartContainer {
	
	float:left;
	width:100%;
	margin:0;
	padding:0;
	background:#fff;
	border-bottom:1px solid #bbb;
	position:relative;
	margin-bottom:40px;

	/*
	-webkit-border-radius:5px;
	overflow:hidden;
	*/
}

	.flowchartOption {
		position:absolute;
		right:10px;
		top:11px;
		font-size:11px;
		color:#666;
		text-shadow:0 1px 0 #fff;
		
	}
	
	.printView .flowchartOption {
		display:none;
	}

	.flowchartContainer .toolbar {
		float:left;
		width:100%;
		padding:10px 0 10px 0;
		/*
		background: -webkit-gradient(
		    linear,
		    left top,
		    left bottom,
		    color-stop(0, rgb(208,208,208)),
		    color-stop(1, rgb(165,165,165))
		);
		background: -webkit-gradient(
		    linear,
		    left top,
		    left bottom,
		    color-stop(0, rgb(245,245,245)),
		    color-stop(1, rgb(240,240,240))
		);
		*/
		
		background: -webkit-gradient(
		    linear,
		    left top,
		    left bottom,
		    color-stop(0, rgb(233,233,233)),
		    color-stop(1, rgb(220,220,220))
		);
		
		border-top:1px solid #fff;
		border-bottom:1px solid rgb(200,200,200);

	}
	
	.toolbarButtons {
		float:left;
		margin-left:40%;
	}
	
		.toolbar a.toolbarButton:link, .toolbar a.toolbarButton:visited {
			float:left;
			display:block;
			padding:0 12px 0 12px;
			text-decoration:none;
			font-size:11px;
			
			height:18px;
			line-height:18px;
			color:#000;
			
			
			background: -webkit-gradient(
			    linear,
			    left top,
			    left bottom,
			    color-stop(0, rgb(254,254,254)),
			    color-stop(1, rgb(184,184,184))
			);
			cursor:default;
			text-shadow:0 1px 0 #eee;
			
			border-top:1px solid rgb(83, 83, 83);
			border-bottom:1px solid rgb(83, 83, 83);
		}
		
		.toolbar a.toolbarButton:active {
			-webkit-box-shadow:inset 0 0 5px #000000;

			background: -webkit-gradient(
			    linear,
			    left top,
			    left bottom,
			    color-stop(0, rgb(185, 185, 185)),
			    color-stop(1, rgb(163, 163, 163))
			);
		}
		
		.toolbar .navigationArrows_left {
			float:left;
			display:block;
			width:26px;
			height:18px;
			background:url(/img/2009/arrows.png) 3px -1px no-repeat;
		}
		
		.toolbar .navigationArrows_Right {
			float:left;
			display:block;
			width:26px;
			height:18px;
			background:url(/img/2009/arrows.png) 3px -21px no-repeat;
		}
		
		.toolbar .toolbarButton_selected {
			background:rgb(112, 112, 112) !important;
			-webkit-box-shadow:inset 0 0 5px #000 !important;
			color:#eee !important;
			text-shadow:0 0 2px #000 !important;
		}

		.toolbar .toolbarButtonSeparator {
			float:left;
			height:20px;
			width:1px;
			background:rgb(83, 83, 83);
		}
		
		.toolbar .toolbarButton:first-child, .toolbar .toolbarButtons .firstButton {
			padding:0 !important;
			-webkit-border-top-left-radius:4px;
			-webkit-border-bottom-left-radius:4px;
			border-left:1px solid rgb(83, 83, 83);
		}
		
		.toolbar .toolbarButton:last-child, .toolbar .toolbarButtons .lastButton {
			padding:0 !important;
			-webkit-border-top-right-radius:4px;
			-webkit-border-bottom-right-radius:4px;
			border-right:1px solid rgb(83, 83, 83);
		}
	
	.flowchartContainer .toolbar_Light {
		
		float:left;
		width:100%;
		padding:10px 0 10px 0;

		background: -webkit-gradient(
		    linear,
		    left top,
		    left bottom,
		    color-stop(0, rgb(250,250,250)),
		    color-stop(1, rgb(245,245,245))
		);

		border-top:1px solid #fff;
		border-bottom:1px solid rgb(200,200,200);

	}
	
		.toolbar_Light a.toolbarButton:link, .toolbar_Light a.toolbarButton:visited {
			
			float:left;
			display:block;
			padding:0 12px 0 12px;
			text-decoration:none;
			font-size:11px;
			
			height:18px;
			line-height:18px;
			color:#555;
		
			background: -webkit-gradient(
			    linear,
			    left top,
			    left bottom,
			    color-stop(0, rgb(255,255,255)),
			    color-stop(1, rgb(245,245,245))
			);
			
			cursor:default;
			text-shadow:0 1px 0 #fff;

			border-top:1px solid rgb(160, 160, 160);
			border-bottom:1px solid rgb(160, 160, 160);
			-webkit-box-shadow:inset 0 0 2px rgba(0,0,0,0.3);
		}
	
		.toolbar_Light a.toolbarButton:active {

			background: -webkit-gradient(
			    linear,
			    left top,
			    left bottom,
			    color-stop(0, rgb(220, 220, 220)),
			    color-stop(1, rgb(200, 200, 200))
			);
			
		}
		
		.toolbar_Light .toolbarButton_selected {
			
			background: -webkit-gradient(
			    linear,
			    left top,
			    left bottom,
			    color-stop(0, rgb(230, 230, 230)),
			    color-stop(1, rgb(210, 210, 210))
			) !important;

			color:#000 !important;
		}
		
		.toolbar_Light .toolbarButton:first-child, .toolbar_Light .toolbarButtons .firstButton {
			padding:0 !important;
			-webkit-border-top-left-radius:4px;
			-webkit-border-bottom-left-radius:4px;
			border-left:1px solid rgb(160, 160, 160);
		}
		
		.toolbar_Light .toolbarButton:last-child, .toolbar_Light .toolbarButtons .lastButton {
			padding:0 !important;
			-webkit-border-top-right-radius:4px;
			-webkit-border-bottom-right-radius:4px;
			border-right:1px solid rgb(170, 170, 170);
		}

		.toolbar_Light .toolbarButtonSeparator {
			float:left;
			height:20px;
			width:0px;
		}
		
		.toolbar_Light .navigationArrows_left {
			float:left;
			display:block;
			width:26px;
			height:18px;
			background:url(/img/2009/arrows.png?3) 2px -41px no-repeat;
		}
		
		.toolbar_Light .navigationArrows_Right {
			float:left;
			display:block;
			width:26px;
			height:18px;
			background:url(/img/2009/arrows.png?3) 3px -61px no-repeat;
		}
	
	.flowchartContainer .leftSideBar {
		float:left;
		width:24%;
		min-height:100px;
		background:rgba(0,0,0, 0.02);
		border-right:1px solid #bbb;
		padding:25px 0 25px 0;

		opacity:1;
		/* border-top:1px solid #bbb; */
	}
	
	.flowchartContainer .canvas {
		float:left;
		width:75%;
		min-height:100px;
		background:#fefefe;
		color:#000;
		position:relative;
		padding:25px 0 25px 0;
		overflow:hidden;
		cursor:default;
		/* border-top:1px solid #bbb; */
		opacity:1;
	}
	
	.flowchartContainer.loading .canvas .progressBar {
		opacity:0;
	}
	
	.flowchartContainer.weekView .canvas, .flowchartContainer.weekView .leftSideBar {
		padding-top:25px !important;
	}
	
	.canvas h1 {
		position:absolute;
		left:0px;
		top:0px;
		float:left;
		width:100%;
		/* background:rgba(255, 255, 255, 0.7);
		-webkit-box-shadow:0 0 5px rgba(0,0,0,0.8); */
		
		text-align:center;
		height:40px;
		line-height:60px;
		font-weight:normal;
		font-size:25px;
		color:#444;
		margin:0;
		padding:0;
		
		text-shadow:0 0 5px rgba(0,0,0,0.2);
		
		z-index:100;
		
		-webkit-transition: all 0.2s ease-in-out;
	}
	.canvas h1.hide {
		opacity:0.05;
		line-height:60px;
		font-size:25px;
		-webkit-box-shadow:none;
		background:none;
		text-shadow:none;
	}
	
	.flowchartContainer .canvasGrids {
		position:absolute;
		left:0px;
		top:0px;
		float:left;
		width:100%;
		min-height:150px;
		z-index:0;
		overflow:hidden;
	}
	
	.canvasGrids div {
		
		position:relative;
		overflow:hidden;
	}
	
	
	.flowchartContainer.weekView .canvasGrids .dayGrid {
		float:left;
		display:block;
		width:4.75%;
		height:100%;
		/* border-right:1px solid rgba(0,0,0,0.02); */
		/* background:url(/img/2009/flowchartGrid.png) top right repeat-y; */
		-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.1);

	}

	.flowchartContainer.quarterView .canvasGrids .weekGrid {
		float:left;
		display:block;
		width:8.30%;
		height:100%;
		/* border-right:1px solid rgba(0,0,0,0.02); */
		/* background:url(/img/2009/flowchartGrid.png) top right repeat-y; */
		-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.1);
	}

	.flowchartContainer.yearView .canvasGrids .monthGrid {
		float:left;
		display:block;
		width:8.30%;
		height:100%;
		min-height:150px;
		/* border-right:1px solid rgba(0,0,0,0.02); */
		/* background:url(/img/2009/flowchartGrid.png) top right repeat-y; */
		-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.1);
	}
	
	.currentGrid span {
		color:#26a !important;
	}
	
	.currentGrid span:first-child {
		text-transform:uppercase;
	}
	
	.currentGrid {
		/* background:rgba(112, 160, 255, 0.03); */
		
		background: -webkit-gradient(
		    linear,
		    left top,
		    left bottom,
		    color-stop(0, rgb(253, 253, 254)),
		    color-stop(1, rgb(246, 249, 254))
		) !important;
		
		-webkit-box-shadow:0 0 3px rgba(112,160,255,0.7) !important;
	}
	
	.specialGrid span {
		color:rgba(255, 0, 0, 0.7) !important;
	}
	
	.canvasGrids span:first-child {
		position:absolute;
		left:0px;
		top:0px;
		width:100%;
		text-align:center;

		color:#999;
		line-height:25px;
		font-size:11px;
	}
	.canvasGrids span:last-child {
		position:absolute;
		left:0px;
		bottom:0px;
		width:100%;
		text-align:center;

		color:#aaa;
		line-height:25px;
		font-size:11px;
		
	}
	
	.dayGrid {display:none;}
	.weekGrid {display:none;}
	.monthGrid {display:none;}
	

	
	.flowchartContainer .itemGroup {
		
		float:left;
		width:100%;
		margin:10px 0 30px 0;
		padding-top:20px;
		position:relative;
		
	}
	
	.itemGroup .collapseBox {
		display:block;
	}
	.itemGroup.collapsed .collapseBox {
		display:none;
	}
	
	.itemGroup.collapsed .groupBracket {
		opacity:0.8 !important;
	}
	
	.itemGroup.collapsed {
		margin-bottom:10px !important;
		border-bottom:1px solid rgba(0,0,0,0.2);
	}
	
	a.newTaskButton:link, a.newTaskButton:visited {
		position:absolute;
		right:0px;
		top:1px;
		width:30px;
		text-decoration:none;
		font-size:17px;
		line-height:17px;
		font-weight:bold;
		color:rgba(0,0,0,0.4);
		text-indent:15px;
		
		background: -webkit-gradient(
		    linear,
		    left top,
		    right top,
		    color-stop(0, rgba(250,250,250, 0)),
		    color-stop(0.5, rgba(250,250,250, 1))
		);
	}
	
	a.newTaskButton:hover {color:rgba(0,0,0,0.6);}
	a.newTaskButton:active {color:rgba(0,0,0,0.7);}
	
	a.collapseBoxHandle:link, a.collapseBoxHandle:visited, a.collapseBoxHandle:hover {
		position:absolute;
		left:0px;
		top:2px;
		width:18px;
		height:18px;
		background:url(/img/2008/controls/arrow_icons.png) 0 -40px no-repeat;
		opacity:0.8;
		cursor:default;
		
		-webkit-transition: all 0.2s ease-in-out;
	}
	
	a.collapseBoxHandle:active {
		opacity:1;
	}
	
	.itemGroup.collapsed a.collapseBoxHandle {
		/* background-position: 0 -20px !important; */
		-webkit-transform:rotate(-90deg);
	}
	
	
	.flowchartContainer .itemGroup .itemLine {
		float:left;
		width:100%;
		height:20px;
		position:relative;
		border-top:1px solid rgba(0,0,0,0.1);
		font-size:11px;
	}
	
	.flowchartContainer .itemLine .Status_Box
	{
		float:left;
		width:20px !important;
		height:20px !important;
		display:block;
		
		background-position:0 -2px !important;
	}
	
	.flowchartContainer .itemLine .SelectedStatus
	{
		background-position:0 -27px !important;
	}
	
	.flowchartContainer .itemGroup .itemLine:last-child {
		
		border-bottom:1px solid rgba(0,0,0,0.1);
		
	}
	
	.flowchartContainer .itemLine .progressBar {
		float:left;
		height:16px;
		-webkit-border-radius:8px;
		margin-top:2px;
		
		-webkit-box-shadow:0 0 1px rgba(0,0,0,0.8);
		opacity:0.85;
		
		text-align:center;
		line-height:16px;
		color:#fff;
		text-shadow:0 -1px 0 #333;
		font-size:11px;
		overflow:hidden;
		position:relative;
		cursor:pointer;
		cursor:hand;
		
		opacity:1;
		/*
		-webkit-transition-property: width;
		-webkit-transition-duration:0.3s, 0.1s;
		-webkit-transition-timing-function:ease-in-out;
		*/
	}
	
	
		.resizeHandle {
			position:absolute;
			opacity:0;
			right:2px;
			top:0px;
			width:20px;
			height:20px;
			cursor:col-resize;
			background:url(/img/2009/arrows.png) 0 -102px no-repeat;
			
		}
		
		.itemLine:hover .resizeHandle {
			opacity:0.95;
		}
		
		.progressBar_Completed .resizeHandle {
			display:none;
		}
	
	
	.itemLine .noStart {
		-webkit-border-top-left-radius:0px !important;
		-webkit-border-bottom-left-radius:0px !important;
		border-left:none !important;
	}
	
	.itemLine .noEnd {
		-webkit-border-top-right-radius:0px !important;
		-webkit-border-bottom-right-radius:0px !important;
	}
	
	.flowchartContainer .itemLine:hover .progressBar {
		opacity:0.95;
		-webkit-box-shadow:0 0 3px rgba(0,0,0,0.3);
	}
	
	
	.flowchartContainer .itemLine .progressBar:active {
		opacity:0.85 !important;
	}
	
	
	.progressBar_Blue {
		background: -webkit-gradient(
		    linear,
		    left top,
		    left bottom,
		    color-stop(0, rgb(112, 160, 255)),
		    color-stop(1, rgb(53, 116, 255))
		);
	}
	
	.progressBar_Orange {
		background: -webkit-gradient(
		    linear,
		    left top,
		    left bottom,
		    color-stop(0, rgb(255, 203, 114)),
		    color-stop(1, rgb(255, 158, 0))
		);
	}
	
	.progressBar_Red {
		background: -webkit-gradient(
		    linear,
		    left top,
		    left bottom,
		    color-stop(0, rgb(255, 95, 116)),
		    color-stop(1, rgb(255, 0, 58))
		);
	}
	
	.progressBar_Green {

		background: -webkit-gradient(
		    linear,
		    left top,
		    left bottom,
		    color-stop(0, rgba(115, 255, 57, 1)),
		    color-stop(1, rgba(47, 222, 0, 1))
		);
	}
	
	.progressBar_Completed {
		
		background:rgba(255, 255, 255, 0.6);
		color:rgba(25, 117, 0, 1) !important;
		line-height:14px !important;
		text-shadow:0 0 2px rgba(0,0,0, 0.5) !important;
		height:14px !important;
		border:1px solid rgba(47, 222, 0, 1);
		
	}
	
	.progressBar_Grey {
		background: -webkit-gradient(
		    linear,
		    left top,
		    left bottom,
		    color-stop(0, rgb(214, 214, 214)),
		    color-stop(1, rgb(152, 152, 152))
		);
	}
	
	.leftSideBar .itemLine {
		font-size:11px;
		color:#444;
		line-height:20px;
		overflow:hidden;
		text-indent:5px;
	}
	
	.leftSideBar .itemGroup .groupTitle {
		position:absolute;
		left:20px;
		top:0;
		height:20px;
		line-height:23px;
		cursor:default;
		font-size:12px;
		cursor:hand;
		cursor:pointer;
		overflow:hidden;
	}
	
	.leftSideBar .itemGroup .groupTitle:hover {
		text-decoration:underline;
	}
	
	.groupBracket {
		position:absolute;
		float:left;
		top:12px;
		opacity:0;
		
		height:2px;
		-webkit-transition: all 0.2s ease-in-out;
		
		/* background:url(/img/flowchartBrackets.png) 0 -6px repeat-x; */
		border-left-width:2px;
		border-top-width:3px;
		border-right-width:2px;
		border-bottom-width:0;
		
		border-style:solid;
		border-color:#5eaaf6;
		
		cursor:pointer;
		cursor:hand;
		
		font-weight:bold;
		
	}
		
		.bracketLabelLeft {
			height:18px !important;
			line-height:18px !important;
			top:15px !important;
			left:2px;
			font-size:18px;
			font-weight:bold;
			color:rgba(0,0,0,0.5);
			border:none !important;
			opacity:0.5;
			z-index:100;
		}
		
		.bracketLabelRight {
			height:18px !important;
			top:15px !important;
			right:2px;
			font-size:18px;
			font-weight:bold;
			color:rgba(0,0,0,0.5);
			border:none !important;
			opacity:0.5;
			z-index:100;
		}
	
		.groupBracket_NoStart {
			border-left-width:0 !important;
		}
		.groupBracket_NoEnd {			
			border-right-width:0 !important;
		}
		
		.groupBracket_Completed {
			color:#2dc205 !important;
			border-color:#4de225 !important;
		}
		
		.groupBracket_Overdue {
			color:#c00 !important;
			border-color:#c00 !important;
		}
	
	.itemGroup:hover .groupBracket {
		opacity:0.8;
	}
	
.chartView_colorBox {
	float:left;
	
	margin:4px 0px 0 4px;
	
	position:relative;
	/*
	right:4px;
	top:5px;
	*/
	width:12px;
	height:12px;
	-webkit-border-radius:2px;

	-webkit-box-shadow:inset 0 0 2px #000;
}

.OS_Windows .chartView_colorBox {
	
	width:11px;
	height:11px;
	-webkit-border-radius:3px;
	border:1px solid #888;
	
}

.chartView_colorBox:active {
	opacity:0.8;
}

.Today_TaskFrame_ListItem .chartView_colorBox {
	margin:6px 5px 0 18px;
}

.dashboard_TaskItem .chartView_colorBox {
	margin:6px 5px 0 0 !important;
}

.ClippingItem_ObjectContainer .chartView_colorBox {
	margin:1px 5px 0px 5px !important;
}

.popupSelection_Menu_Item .chartView_colorBox {
	margin:3px 5px 0 0;
}

.TopicList .chartView_colorBox {
	margin: 6px 5px 0 20px !important;
}

.chartView_colorBox_disabled {
	opacity:0.5;
}

.chartView_colorBox_checkMark {
	position:absolute;
	left:0px;
	top:-1px;
	width:13px;
	height:13px;
	
	background:url(/img/2008/controls/arrow_icons.png?1130) -64px -143px no-repeat;
	
	display:none;
}

.chartView_colorBox_checked .chartView_colorBox_checkMark {
	display:block;
}

.chartView_colorBox_0 {
	background: -webkit-gradient(
	    linear,
	    left top,
	    right bottom,
	    color-stop(0, rgba(255,255,255, 0.5)),
	    color-stop(1, rgba(210,210,210, 0.5))
	);
}

	.chartView_colorBox_0 .chartView_colorBox_checkMark {
		background-position:-64px -162px !important;
	}
	.ClippingItem_ObjectContainer .chartView_colorBox_checkMark {
		background-position:-64px -143px !important;
	}

.chartView_colorBox_1 {

	background: -webkit-gradient(
	    linear,
	    left top,
	    right bottom,
	    color-stop(0, rgb(205,205,205)),
	    color-stop(1, rgb(151,151,151))
	);
	
}

.chartView_colorBox_2 {

	background: -webkit-gradient(
	    linear,
	    left top,
	    right bottom,
	    color-stop(0, rgb(220,230,240)),
	    color-stop(1, rgb(170,186,217))
	);
	
}

.chartView_colorBox_3 {

	background: -webkit-gradient(
	    linear,
	    left top,
	    right bottom,
	    color-stop(0, rgb(175,212,255)),
	    color-stop(1, rgb(46,135,254))
	);
	
}

.chartView_colorBox_4 {

	background: -webkit-gradient(
	    linear,
	    left top,
	    right bottom,
	    color-stop(0, rgb(154,255,164)),
	    color-stop(1, rgb(0,255,0))
	);
	
}

.chartView_colorBox_5 {
	display:block;
	background: -webkit-gradient(
	    linear,
	    left top,
	    right bottom,
	    color-stop(0, rgb(255,231,179)),
	    color-stop(1, rgb(255,172,0))
	);
	
}

.chartView_colorBox_6 {

	background: -webkit-gradient(
	    linear,
	    left top,
	    right bottom,
	    color-stop(0, rgb(255,226,242)),
	    color-stop(1, rgb(255,153,219))
	);
	
}

.chartView_colorBox_7 {

	background: -webkit-gradient(
	    linear,
	    left top,
	    right bottom,
	    color-stop(0, rgb(255,157,173)),
	    color-stop(1, rgb(255,0,0))
	);
	
}
