#Dashboard_Tasks {
	float:left;
	
	width:100%;
	position:relative;
	padding-top:20px;
}

#Dashboard_Tasks cite {
	position:absolute;
	left:5px;
	top:5px;
	z-index:0;
	
	margin:0;
	padding:0;
	text-transform:uppercase;
	letter-spacing:-10px;
	line-height:60px;
	font-size:90px;
	color:#d6dde5;
	
	cursor:default;

}


.Dashboard_TodayTag {
	position:absolute;
	left:5px;
	top:0px;
	float:left;

	text-shadow:0 1px 0 #fff;
	/* color:rgba(214, 221, 229, 0.8); */
}

	.Dashboard_TodayTag div:first-child {
		float:left;
		text-transform:uppercase;
		font-size:90px;
		line-height:60px;
		letter-spacing:0px;

		cursor:default;

		font-weight:normal;

		color:rgba(0,0,0,0.1);
	}
	
	.Dashboard_TodayTag div:last-child {
		float:left;
		clear:left;
		font-size:25px;

		cursor:default;
		text-indent:6px;

		
		letter-spacing:-1px;
		color:rgba(0,0,0,0.2);
	}



.Today_TaskFrame_Indent {
	float:left;
	width:15%;
	height:100px;
}

a.OSXButton:link, a.OSXButton:visited, a.OSXButton:hover {
	
	padding:0 7px 0 7px;
	height:20px;
	
	line-height:17px;
	text-align:center;
	
	font-weight:bold;
	font-size:15px;
	
	border-top:1px solid #7d7d7d;
	border-left:1px solid #979797;
	border-right:1px solid #979797;
	border-bottom:1px solid #979797;
	
	-webkit-border-radius:3px;
	
	background:#f5f5f5;
	
	background: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0, rgb(251, 251, 251)),
	    color-stop(0.49, rgb(251,251,251)),
	    color-stop(0.5, rgb(237,237,237)),
	    color-stop(1, rgb(243,243,243))
	);

	
	color:#444;
	text-decoration:none;
	
	cursor:default;
}

a.OSXButton:active {
	border-top:1px solid #7e7e7e;
	border-bottom:1px solid #959595;
	
	background:#afafaf;
	
	background: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0, rgb(175, 175, 175)),
	    color-stop(0.49, rgb(175, 175, 175)),
	    color-stop(0.5, rgb(165, 165, 165)),
	    color-stop(1, rgb(168, 168, 168))
	);
}

.Today_NewTaskBtn {
	float:left;
	clear:left;
	
	margin:5px 0 0 0px;
	
}



.Today_TaskFrame {
	float:left;
	position:relative;
	width:40%;
	padding-left:5px;
	margin:10px 0 5px 10px;
	
	border-left:1px solid #ccc;
	
	/* background:url(/img/2009/shades/white.png); */
	background:rgba(255, 255, 255, 0.6);
	
	z-index:100;
}

	.Today_TaskFrame_EmptyIndicator {
		float:left;
		width:100%;
		margin:0;
		margin-top:50px;
		text-align:center;
		color:#868d95;
	}


.Today_TaskFrame h1 {
	float:left;
	width:100%;
	margin:5px 0 10px 0;
	padding:0;
	color:#7a828b;

	
	font-size:18px;
	text-align:left;
	
	font-weight:normal;
	
	letter-spacing:-1px;
	text-transform:uppercase;
	
}

.Today_TaskFrame b {color:#a6adb5 !important;}

.Today_TaskFrame_TaskList {
	float:left;
	width:100%;
	margin:0;
	min-height:150px;
}

.Today_TaskFrame_TaskList_hover {
	/* background:url(/img/2009/shades/black.png); */
	background:rbga(0,0,0, 0.05);
}

.Today_TaskFrame_ListItem {
	float:left;
	position:relative;
	width:100%;
	padding:0 0 9px 0;
	margin:0;
	/* background:url(/img/2009/shades/white.png); */
	background:rgba(255, 255, 255, 0.6);
	cursor:default;

}

	.Today_TaskFrame_ListItem .Today_TaskFrame_Controls, .Today_TaskFrame_ListItem .objectLink {
		-webkit-transition: all 0.2s ease-in-out;
		opacity:0;
	}
	.Today_TaskFrame_ListItem:hover .Today_TaskFrame_Controls, .Today_TaskFrame_ListItem:hover .objectLink {
		opacity:1;
	}

	.Today_TaskFrame_ListItem_Caption {
		float:left;
		width:80%;
		text-decoration:none;
		font-size:13px;
		color:#333;
		margin:4px 0 0 0;
	}
	
	.Today_TaskFrame_ListItem_Description {
		float:left;
		width:80%;
		color:#666;
		font-size:11px;
		
	}
	
	.Today_TaskFrame_ListItem_DragHandle {
		position:absolute;
		left:0px;
		top:2px;
		background:url(/img/2008/controls/arrow_icons.png) -60px -120px no-repeat;
		width:20px;
		height:20px;
		cursor:move;
	}
	
	.Today_TaskFrame_ListItem_HideBtn {
		position:absolute;
		right:0px;
		top:2px;
		background:#f5f5f5;
		padding:0 8px 0 8px;
		height:20px;
		line-height:20px;
		z-index:200;
		-webkit-border-radius:4px;
		color:#777;
		font-size:11px;
	}
	.Today_TaskFrame_ListItem_HideBtn:hover {
		background-color:#eee;
		color:#555;
	}
	.Today_TaskFrame_ListItem_HideBtn:active {
		background-color:#e5e5e5;
	}
	
	
	.Today_TaskFrame_ListItem_Hint {
		position:absolute;
		right:0px;
		top:23px;
		color:#777;
		font-size:11px;
		-webkit-border-radius:4px;
		padding:0 8px 0 8px;
		height:20px;
		line-height:20px;
		background:#f5f5f5;
	}
	.Today_TaskFrame_ListItem_Hint:hover {
		background-color:#eee;
		color:#555;
	}
	.Today_TaskFrame_ListItem_Hint:active {
		background-color:#e5e5e5;
	}
	
	.Today_TaskFrame_ListItem_Date {
		position:absolute;
		right:0px;
		top:5px;
		color:#27c;
		/* background:url(/img/2009/shades/white.png); */
		background:rgba(255, 255, 255, 0.6);
		padding-left:5px;
	}
	


.dashboard_AllTasks_GroupTitle {
	float:left;
	width:100%;
	height:16px;
	line-height:16px;
	
	padding:0;
	margin:0;
	
	text-indent:10px;
	
	color:#fff;
	font-weight:bold;
	font-size:11px;
	text-shadow:0 1px 0 #666;
	
	border-top:1px solid #717d85;
	border-bottom:1px solid #989ea4;
	
	text-transform:uppercase;
	
	background: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0, rgb(165, 177, 186)),
	    color-stop(0.05, rgb(144, 159, 170)),
	    color-stop(1, rgb(184, 193, 200))
	);
}

.dashboard_TaskItem {
	float:left;
	width:100%;
	position:relative;
	padding:5px 0 5px 0;

	border-bottom:1px solid rgba(200, 200, 200, 0.1);
}

	.dashboard_TaskItem_ThisWeek {
		background:rgba(200, 230, 250, 0.1);
		border-bottom:1px solid rgba(180, 210, 230, 0.5);
	}


.dashboard_TaskItem_Title {
	float:left;
	width:70%;
	height:25px;
	line-height:25px;
	text-decoration:none;
	color:#333;
	cursor:default;
}

.dashboard_TaskItem_Indent {
	float:left;
	width:20px;
	height:24px;
	display:block;
	clear:left;
}

.dashboard_TaskItem_Desc {
	position:absolute;
	right:270px;
	height:24px;
	line-height:24px;
	color:#555;
}

.dashboard_TaskItem_Date {
	position:absolute;
	float:left;
	
	right:5px;
	height:24px;
	line-height:24px;
	width:260px;
	
	color:#aaa;
	overflow:hidden;
}

.dashboard_TaskItem_StartDateSlot, .dashboard_TaskItem_DueDateSlot {
	float:left;
	display:block;
	width:120px;
	height:24px;
	text-align:right;
	color:#444;
}

.dashboard_TaskItem_DueDateSlot {text-align:left;}

.dashboard_TaskItem_DateSep {
	float:left;
	display:block;
	width:20px;
	height:24px;
	text-align:center;
}

a.objectLink:link, a.objectLink:visited {
	display:block;
	float:left;
	position:relative;
	height:14px;
	margin-top:4px;
	line-height:14px;
	padding:0 20px 0 10px;
	border:1px solid #bbb;
	
	font-size:11px;
	-webkit-border-radius:7px;
	text-decoration:none;
	
	color:#222;
	
	background: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0, rgb(250, 250, 250)),
	    color-stop(1, rgb(240, 240, 240))
	);
	
	overflow:hidden;
	
}

a.objectLink:hover {
	background: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0, rgb(240, 240, 240)),
	    color-stop(1, rgb(230, 230, 230))
	);
}

a.objectLink:active {
	background: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0, rgb(220, 220, 220)),
	    color-stop(1, rgb(210, 210, 210))
	);
}

.objectLink_Arrow {
	right:4px;
	top:0px;
	width:14px;
	height:14px;
	position:absolute;
	
	background:url(/img/2008/controls/arrow_icons.png?1011) 0 -141px no-repeat;
}

.objectLink_Active {
	font-weight:bold !important;
	background: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0, rgb(255, 255, 255)),
	    color-stop(1, rgb(250, 250, 250))
	) !important;
}
