/* iSpace :: Create New Page */


.TitleInput
{
	float:left;
	margin:0 0 0 20px;
	
	width:700px;
	height:25px;
	
	color:#333;
	font-weight:bold;

	font-size:16px;
	
	background: #eee;
	border:1px solid #ccc;
}

.Tips
{
	color:#888;
	margin-top:0 !important;
}



.ControlPanel
{
	position:absolute;
	right:5px;
	bottom:2px;
}

.ControlButtons
{
	float:left;
	clear:left;
	display:block;
	width:500px;
	margin:0px 0 10px 20px;
}

.SpecialArea
{
	float:left;
	display:inline-block;
	margin:0px 0 10px 20px;
	
	width:700px;
	
	background:#eee;
	border:1px solid #ccc;
}

	.SpecialTitle
	{
		float:left;
		margin:2px 0 0px 5px;
		
		color:#333;
		font-weight:bold;
		font-size:12px;
	}
	
	.SpecialBody
	{
		float:left;
		clear:left;
		margin:5px 0 5px 5px;
		
		width:690px;
		line-height:15px;
		font-size:12px;
		color:#333;
	}

/* Viewing */
#PageTabs
{
	float:left;
	position:relative;
	display:block;
	width:700px;
	height:40px;
	
	margin:0 0 10px 20px !important;
	margin:0 0 10px 10px;
	
	background:#fff url(/img/vClipper/PageTab_bg.jpg) left bottom repeat-x;
	
}
	a.PageTab:link, a.PageTab:visited
	{
		float:left;
		display:block;
		width:100px;
		height:30px;
		margin:5px 0 0 5px;
		background:#fafafa url(/img/vClipper/PageTab.jpg) no-repeat;
		color:#777;
		line-height:30px !important;
		line-height:28px;
		text-align:center;
		text-decoration:none;
		font-weight:bold;
	}
	a.PageTab:hover
	{
		color:#333;
		background:#ffc url(/img/vClipper/PageTab_hover.jpg);
	}
	a.PageTab:active
	{
		color:#333;
		background:#ffc url(/img/vClipper/PageTab_active.jpg);
	}
	
	.SelectedPageTab
	{
		background:#fff url(/img/vClipper/PageTab_selected.jpg) left bottom !important;
		width:105px !important;
		height:35px !important;
		margin:5px 0 0 0 !important;
		color:#fff !important;
		cursor:default;
	}
	
	#PageTitle
	{
		float:left;
		width:100%;
		min-height:61px;
		overflow:hidden;
		/* background:#fffbef url(/img/vClipper/topic_header_bg.jpg) left top repeat-y; */

		
		background: -webkit-gradient(
		    linear,
		    left top,
		    right bottom,
		    color-stop(0, rgba(0,0,0, 0.03)),
		    color-stop(0.1, rgba(0,0,0, 0)),
		    color-stop(0.4, rgba(0,0,0, 0.02)),
		    color-stop(0.9, rgba(0,0,0, 0.05))
		) !important;
		
		-webkit-box-shadow: rgba(0, 0, 0, 0.10) 0px 1px 2px;
		border-bottom:1px solid rgba(0,0,0,0.2);
		
		padding:15px 0 5px 0;
		
		
		position:relative;
	}
	
		.projectStatus_Inactive {
			position:absolute;
			left:45px;
			top:4px;
			color:#333;
			text-shadow:0 1px 0 #fff;
			font-size:11px;
			height:14px;
			line-height:14px;
			font-weight:bold;
			padding:0 16px 0 8px;
			-webkit-border-radius:7px;
			background:#ddd;
			
			cursor:default;
		}
		
		.projectStatus_DismissBtn {
			position:absolute;
			right:1px;
			top:1px;
			height:12px;
			width:14px;
			-webkit-border-radius:6px;
			background:#ccc;
			font-size:12px;
			line-height:10px;
			font-weight:bold;
			text-align:center;
			color:#777;
		}
		
		.projectStatus_DismissBtn:hover {
			background:#c5c5c5;
			color:#333;
		}
		
		.projectStatus_DismissBtn:active {
			background:#c0c0c0;
		}
	
	#PageTitle_Text
	{
		width:99%;
		position:relative;
	}
	
	#PageTitle .flowchartContainer {
		border-top:1px solid #888;
		border-bottom:1px solid #888;
		margin-bottom:0 !important;
	}
	

#PageControls
{
	/*
	position:absolute;
	bottom:-1px;
	left:6px;
	*/
	position:fixed;
	bottom:0px;
	left:185px;
	width:100%;
	
	z-index:2500;
	/*
	float:left;
	*/
	
	height:22px;
	border-left:1px solid #b3b3b3;
	
	margin:0 0 0 0;
	font-size:11px;
	
	background:url(/img/2008/controls/backgrounds.png) 0 -70px repeat-x;
	border-top:1px solid #aaa;

}

	.PageControl_Divider {
		float:left;
		margin:2px 5px 0 5px;
		height:18px;
		width:0px;
		border-right:1px solid #ccc;
	}

	a.PageControl:link, a.PageControl:visited
	{
		float:left;
		display:inline-block;
		height:22px;
		
		color:#555;

		
		line-height:22px;
		margin:0 1px 0 0;
		padding:0 5px 0 5px;
		text-decoration:none;
		cursor:default;
	}
	
	a.PageControl:hover
	{
		/*
		color:#f00;
		margin:3px 0 0 0;

		border-right:1px dashed #aaa;
		background:#fbfbfb;
		*/
		text-decoration:underline;
	}
	
	.PageControl_Disabled {
		color:#999 !important;
		text-decoration:none !important;
		cursor:not-allowed !important;
	}
	
	a.SpecialControl:link, a.SpecialControl:visited, .SpecialControl
	{
		float:left;
		display:inline-block;
		height:20px;
		
		color:#555;
		
		line-height:20px;
		margin:1px 1px 0 0;
		padding:0 5px 0 5px;
		text-decoration:none;
		
		-webkit-border-radius:4px;
		
	}
	
	a.SpecialControl:hover
	{
		background:#c00;
		color:#fff;
	}

.ControlArea
{
	float:left;
	clear:left;
	margin:10px 0 0;

	background:#fff;
	border-top:1px solid #dedede;
	border-bottom:1px solid #dedede;

	width:100%;
}

#Share_Preview
{
	position:absolute;
	right:0px;
	top:0px;
	border-left:1px dashed #aaa;
	border-bottom:1px dashed #aaa;
	width:160px;
	height:100px;
}

#SharePage_Detail
{
	float:left;
	clear:left;
	margin:0 0 0 10px;

	background:#fafafa;
	border:1px solid #dedede;

	width:738px;
	
	position:relative;
}

#Invitation_Box, #Inform_Box
{
	float:left;
	width:450px;
	height:100px;
	
	font-size:14px;
}

#Invitation_Hint
{
	float:left;
	display:block;
	width:250px;
	height:100px;
	overflow:hidden;
	color:#666;
	font-size:11px;
	margin:0 0 0 10px;
}

.ControlArea_simple
{
	float:left;
	clear:left;
	width:700px !important;
	width:710px;
	padding:10px 0 10px 10px;
	margin-top:10px;

	border-top:1px dashed #aaa;

}

	.InnerBox
	{
		float:left;
		display:block;
		padding:10px 10px 10px 60px;
		width:650px !important;
		width:720px;

	}

	.BoxCaption
	{
		float:left;
		height:25px;
		line-height:25px;

		font-size:12px;
		color:#666;
		font-weight:bold;
	}

.TitleBox
{
	width:400px;
	height:25px;
	
	color:#333;

	font-size:14px;
	line-height:22px;
	
	background: #fff;
	
	border:1px solid #bbb;
	outline:none;
	-webkit-box-shadow:0 0 3px rgba(150, 150, 150, 0.9);
}	

/* General Controls */
.Part_Caption
{
	float:left;
	position:relative;

	width:100%;
	
	padding:0;
	height:15px;
	border-bottom:1px solid #ccc;

	font-size:11px;

	color:#666;
	font-weight:bold;
	margin:10px 0 5px 0px;

}


/* Listings */
.ListItem
{
	float:left;
	clear:left;
	display:block;
	line-height:19px;
	
	color:#333;
	text-decoration:none;
	font-size:13px;

	margin:5px 0 0 20px;
	padding:0 5px 0 0;
	
	cursor:text;
}


a.ListItem:link, a.ListItem:visited
{
	float:left;
	clear:left;
	display:block;
	line-height:19px;
	
	color:#444;
	text-decoration:none;
	font-size:13px;
	margin-left:20px;
	margin-top:5px;
	padding:0 5px 0 0;
	
}

a.ListItem:hover
{
	background:#eee;
	color:#222;
}

a.ListItem:active
{
	background:#ddd;
}

.GroupTitle
{
	float:left;
	clear:left;
	
	font-weight:bold;
	font-size:14px;
	color:#333;
	line-height:25px;
	cursor:text;
	width:100%;
	text-shadow:0 1px 0 #fff;
}



.GroupInput
{
	z-index:2;
	width:400px;
	font-size:15px;
	font-weight:bold;
}


.ListSep
{
	float:left;
	clear:left;
	width:100px;
	height:5px;
	line-height:5px;
	border-top:1px dashed #ccc;
	color:#666;
	margin:5px 0 0 30px;
}

.ListDueDate
{
	margin-left:10px;
	color:#888;
	font-size:12px;
	font-weight:normal;
	border-left:1px solid #999;
	padding-left:10px;
}

.ListSpacer
{
	float:left;
	clear:left;
	width:100px;
	height:15px;
	line-height:5px;


	margin:5px 0 0 30px;
}

.ListLine, .ListLine_2
{
	float:left;
	clear:left;
	position:relative;


	width:750px !important;
	width:765px;
	overflow:hidden;
	padding-left:15px;
	
	margin-left:28px;
	
	border:1px solid transparent;
}


.ListDesc
{
	float:left;
	clear:left;
	display:block;
	color:#555;
	font-size: 11px;
	margin-left:38px;
	
	line-height:15px;
	
	text-decoration:none;

	width:85%;
	overflow:hidden;
	
}



.Tip_Control
{
	position:relative;
	float:left;
	width:100%;
	height:0px;
	visibility:hidden;	
}

.TopicList:hover .Tip_Control {
	visibility:visible;
}


.FinishedTask
{
	/*
	font-size:12px !important;
	font-weight:bold;
	color:#666 !important;
	text-decoration:none !important;
	*/
	/* background:#f3fff1; */

	/* background:rgba(255, 255, 255, 0.6); */
	background:rgba(0,0,0,0.02);

}

.DragHandle
{
	position:absolute;
	left:0px;
	top:2px;
	/* background:url(/img/App_GUI/Misc/move.gif) center center no-repeat; */
	
	background:url(/img/2009/arrows.png?1033) -1px -120px no-repeat;
	opacity:0.5;
	width:15px;
	height:20px;
	cursor:row-resize;
}

.recursiveTaskControl {
	position:absolute;
	right:12px;
	top:2px;
	
	width:20px;
	height:20px;
	
	background:url(/img/2008/controls/arrow_icons.png) 0 -180px no-repeat;
	opacity:0.8;
	cursor:hand;
	cursor:pointer;
}

.recursiveTaskControl:active {
	opacity:1;
}

	.recursiveTaskControl_Activated {
		background-position:-20px -180px !important;
	}

.TrashIcon_List
{
	position:absolute;
	right:2px;
	top:2px;	

	width:12px;
	height:20px;

	background:url(/img/iSpace/trash.gif) center no-repeat;
	cursor:hand;
	cursor:pointer;
}

/* iText */
.iText_Title
{
	display:block;

	color:#888;
	font-weight:bold;
	
	border-bottom:1px solid #ddd;
}
.iText_Code
{
	display:block;
	border:1px solid #ddd;
	background:#fff;
	
	font-family:Courier, Tahoma, Arial, sans-serif;
	font-size:11px;
	line-height:20px;
	
	padding:0 5px 5px 5px;
}

/* Files Part */
.FileItem
{
	float:left;
	width:340px;
	height:52px;
	background:url(/img/iSpace/File_bg.jpg) left top no-repeat;
	margin:0 0 10px 20px;
	position:relative;
}

.EmbedPlayer
{
	position:absolute;
	bottom:1px;
	right:5px;
	width:265px;
	height:15px !important;	/* for mac */
	height:30px;	/* for pc */
}


/* Links */

.referenceArea {
	flaot:left;
	width:95%;
	margin:5px 0 0 5px;

}

.referenceGroup {
	float:left;
	width:48%;
	margin:0 10px 0 0;
}

.referenceItem {
	float:left;
	display:block;
	width:90%;
	position:relative;
	
	color:#888;
	margin-bottom:10px;
}

	.referenceItem_Icon {
		float:left;
		display:block;
		width:20px;
		height:20px;
		
		background-repeat:no-repeat;
		background-image:url(/img/2008/topics/topicrelated_icons.png);
	}
	
	.RI_Text {background-position: -89px -88px;}
	.RI_List {background-position: -89px -58px;}
	.RI_Task_Completed {background-position: -88px -28px;}
	.RI_Task_Incomplete {background-position:-88px 2px;}
	
	.referenceItem_Desc {
		float:left;
		width:95%;
		font-size:11px;
		color:#777;
		line-height:15px;
		margin-left:20px;
	}

.LinkItem
{
	float:left;
	clear:left;
	display:block;
	position:relative;
	width:85%;
	height:20px;
	margin-left:20px;
}

.relatedItem_Link {float:left;margin-left:28px;color:#444;}

a.Link:link, a.Link:visited
{
	float:left;

	text-decoration:underline;
	color:#059;
}

a.Link:hover
{
	color:#000;
}

a.CalendarLink:link, a.CalendarLink:visited
{
	float:left;
	text-decoration:none;
	color:#666;
	margin-left:10px;
}

a.CalendarLink:hover
{
	text-decoration:underline;
	color:#222;
}

/*  */
.AddNews
{
	float:left;
	clear:left;
	display:block;
	margin:10px 0 15px 50px;
}

a.AddNewLink:link, a.AddNewLink:visited
{
	float:left;
	clear:left;
	display:inline-block;
	margin:10px 0 0 40px;
	width:120px;
	padding:0 10px 0 10px;
	height:20px;
	line-height:20px;
	font-weight:bold;
	color:#c44;
	text-decoration:none;
}

a.AddNewLink:hover
{
	color:#fff;
	background:#c44;
}

/* Font Definition */
.BoldFont
{
	font-weight:bold !important;
}

.ItalicFont
{
	font-style:italic !important;
}

.UnderlineFont
{
	text-decoration:underline !important;
}

.Bullet
{
	font-weight:bold;
	color:#a00 !important;
	margin:0 10px 0 10px;
}

.Bullet2
{
	font-family:Courier New, Arial, sans-serif;
	font-weight:bold;
	color:#147 !important;
	margin:0 10px 0 30px;
}

.TextBullet
{
	margin: 0 10px 0 20px;
}

.TextIndent
{
	margin: 0 10px 0 10px;
}
.TextIndent2
{
	margin: 0 10px 0 40px;
}

.BlueFont
{
	color:#15a !important;
}

i{color:#666}

hr
{
	float:left;
	display:none;
	margin:0 0 8px 0px;
	width:670px;
	height:10px;
	border-bottom:2px solid #aaa;
}



#SharePage
{
	position:absolute;
	float:left;
	right:100px;
	top:0px;
	width:60px;
	height:30px;
	text-align:left;
	z-index:500;
}

	#SharePage p
	{
		float:left;
		line-height:15px;
		font-size:11px;
		margin:0 0 0 5px;
	}
	
	a.SubscribeID:link, a.SubscribeID:visited
	{
		color:#27c;
		font-weight:bold;
	}
	a.SubscribeID:hover
	{
		color:#49f;
	}

	a.btnShare:link, a.btnShare:visited
	{
		float:right;
		display:block;
		
		width:38px;
		height:30px;
		background:url(/img/vClipper/btn_share.jpg) left top no-repeat;
	}
	
	a.btnShare:hover
	{
		background:url(/img/vClipper/btn_share_hover.jpg) left top no-repeat;
	}
	
	a.btnShare_Active:link, a.btnShare_Active:visited
	{
		float:right;
		display:block;
		width:38px;
		height:30px;
		/* background:url(/img/vClipper/btn_share_active.jpg) left top no-repeat; */
		background:url(/img/vClipper/btn_share_active.jpg) left top no-repeat;
	}

object
{
	float:left;
	margin:0 0 0 20px;
}

.PartSign
{
	float:left;
	clear:left;
	width:700px;
	
}

.NewPage_EG
{
	float:left;
	margin:5px 0 10px 40px;
	width:620px;
	height:200px;
}


a.TitleLink:link, a.TitleLink:visited, a.TitleLink_Disabled:link, a.Title_Link_Disabled:visited
{
	font-size:24px !important;
	text-decoration:none;
	line-height:20px;
	
	height:25px;
	
	color:#333;
	text-shadow:0 1px 0 #fff;
}

a.TitleLink_Disabled {
	cursor:default;
}

a.TitleLink:hover
{
	text-decoration:underline;
}

#x_Tags
{
	line-height:12px;
	font-size:12px;
}

#Input_Title
{
	color:#666;
	
	font-size:19px;
	line-height:19px;
	
	border:1px solid #bbb;
	-webkit-box-shadow:1px 0 5px rgba(100, 100, 100, 0.9);
	outline:none;
}
.TitleButton
{
	width:50px;
	height:20px;
}
#TitleForm
{
	display:inline;
	width:320px;
	height:20px;
}

#x_Indicator
{
	position:absolute;
	top:10px;
	right:350px;
	width:170px;
	height:35px;
	background:#fff url(/img/vClipper/Indicator_bg.jpg) left top no-repeat;
	z-index:3;
	color:#000;
	line-height:35px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	
}

#Page_Switching_Indicator
{
	position:absolute;
	left:10px;
	top:5px;
	width:755px;
	height:600px;
	background:#fff url(/img/App_GUI/Misc/indicator_lg.gif) center no-repeat;
	z-index:10;
}

#TabIndicator
{
	position:absolute;
	left:10px;
	top:60px;
	width:16px;
	height:16px;
}

#Snapshots
{
	float:left;
	width:760px;

	background:#fdfdfd;

	background:#444;
	margin-left:2px !important;
	margin-left:0;
	
	
	height:115px;	/*15 px for scroll bar on Safari*/
	background:url(/img/vClipper/snapshots_bg.jpg) repeat-x left top;
	margin:0;
	overflow:auto;
	position:relative;
	z-index:5;
}

	a.SnapshotItem:link, a.SnapshotItem:visited
	{
		float:left;
		display:inline;
		position:relative;
		width:158px;
		height:49px !important;
		height:64px;
		
		padding:15px 0 0 0;
		
		background:#444 url(/img/vClipper/snapshot_icon.jpg) left center no-repeat;
		margin:18px 5px 0 5px;
		border:1px solid #555;
		text-decoration:none;
		overflow:hidden;
		cursor:hand;
		cursor:pointer;
	}
	
	a.SnapshotItem:hover
	{
		background-color:#444;
		border:1px solid #999;
	}
	
	.SnapshotDate
	{
		float:left;
		clear:left;
		color:#ccc;
		width:100px;

		font-size:10px;
		text-decoration:none !important;
		margin-left:50px;
		
		overflow:hidden;
	}
	.SnapshotTitle
	{
		float:left;
		clear:left;
		color:#fff;
		font-weight:bold;

		line-height:20px;
		width:100px;
		height:20px;
		overflow:hidden;
		margin-left:50px;
	}
	
	.Snapshot_TrashIcon
	{
		width:10px;
		height:11px;
		position:absolute;
		top:2px;
		right:2px;
	}
	
	a.CurrentState:link, a.CurrentState:visited
	{
		float:left;
		display:inline;
		position:relative;
		width:158px;
		height:49px !important;
		height:64px;
		padding:15px 0 0 0;
		background:#444 url(/img/vClipper/snapshot_icon_new.jpg) left center no-repeat;
		margin:18px 5px 0 5px;
		border:1px solid #aaa;
		text-decoration:none;
		cursor:hand;
		cursor:pointer;
	}
	
	a.CurrentState:hover
	{
		background:#666 url(/img/vClipper/snapshot_icon_new_hover.jpg) left center no-repeat;
		border:1px solid #fff;
	}
	
	#SnapshotsContainer
	{
		float:left;
		position:absolute;
		left:190px;
		top:0px;
		height:84px;
	}
	
	.Snapshot_Indicator
	{
		position:absolute;
		left:0px;
		top:0px;
		width:156px;
		height:62px;
		background:#1f1f1f url(/img/App_GUI/Misc/indicator_lg_2.gif) center no-repeat;
		z-index:2;
	}
	
	a.SwitchLink:link, a.SwitchLink:visited
	{
		border-top:1px solid #ccc;
		line-height:20px;
		padding:2px 50px 0 0;
		color:#666;
		text-decoration:none;
	}
	a.SwitchLink:hover
	{
		color:#000;
		text-decoration:underline;
		
	}
	
	.FileInput
	{
		width:400px;
		height:25px;
		line-height:25px;
	}
	





	.List_Dates_Hint
	{
		float:left;
		width:100%;
		height:50px !important;
		height:60px;
		margin:0 0 0 0;
		
		text-align:center;
		line-height:20px;
		padding-top:10px;
		
		color:#888;
		font-size:11px;
	}

	.List_Multiple_Input
	{
		float:left;
		clear:both;

		margin:20px 0 0 0;
		width:100%;

		font-size:12px;
		color:#666;
		resize:none;
		resize: vertical; 
		
		height:100px;

		max-width:90%;
	}

.List_Edit_Hint
{
	margin:0 0 0 100px;
	
	color:#666;
	font-size:11px;
}

.List_Edit_Controls
{
	float:left;
	clear:left;
	margin-top:3px;
	width:100%;
}
	
	#ShareStatus
	{
		float:left;
		position:relative;
		width:739px !important;
		width:759px;
		
		padding:5px 10px 5px 10px;
		
		border-bottom:1px solid #fdcc63;
		background:#fff;
		font-size:11px;
		line-height:20px;

		margin:0 0 0 2px;
		
		color:#666;
	}
	
	a.Segment_Inserter_Handler:link, a.Segment_Inserter_Handler:visited
	{
		float:left;
		clear:left;
		display:block;
		width:135px !important;
		width:140px;
		height:20px;
		line-height:20px;
		
		font-weight:bold;
		border:1px solid #ddd;
		color:#aaa;
		padding-left:5px;
		text-decoration:none;
		margin:5px 0 5px 0;
	}
	
	a.Segment_Inserter_Handler:hover
	{
		border:1px solid #aaa;
		color:#555;
	}


	
p
{
	margin:0;
	padding:0 0 13px 0;
}
	


	

	
.AddNewWindow
{
	float:left;
	margin-top:5px;
}

.TypeChoice
{
	position:relative;
	float:left;
	clear:left;
	display:block;
	
	width:100%;
	
	background:#fff;
	border-top:1px solid #aaa;
	
	padding:5px 0 0 0;
	
	color:#666;
	text-indent:5px;
}

	a.Segment_Choice:link, a.Segment_Choice:visited
	{
		float:left;

		padding:1px 0 1px 0;
		width:100%;
		text-align:center;
		
		text-decoration:none;
		font-weight:bold;
		font-size:13px;
		
		color:#666;
		
	}
	
	a.Segment_Choice:hover
	{
		background:#f0f0f0;
		color:#000;
	}
	
	.Segment_Text_Edit
	{
		float:left;
		width:720px;
		margin:5px 0 5px 0px;

		background: #fff;
		border:1px solid #ccc;

		font-size:14px;
	}
	
	
	
	a.SegmentTitle:link, a.SegmentTitle:visited
	{
		font-weight:bold;
		font-size:14px;
		color:#333;
		line-height:25px;

		text-decoration:none;

		cursor:text;
	}

	a.SegmentTitle:hover
	{
		color:#27c;
		text-decoration:underline;
	}





	
		.Segment_File_Warning {
			position:absolute;
			right:0;
			top:0;
			width:15px;
			height:15px;
			
			background:url(/img/2008/controls/arrow_icons.png?1009) -45px -100px no-repeat;
		}
	
	.FileIcon
	{
		float:left;
		width:50px;
		height:50px;
		margin:1px 10px 0 1px;
		cursor:hand;
		cursor:pointer;
	}

	a.FileName:link, a.FileName:visited
	{
		float:left;
		display:block;
		width:300px;
		overflow:hidden;
		height:20px;

		line-height:20px;
		color:#222;
		font-weight:bold;

		text-decoration:none;
		
		border:1px solid transparent;
		
		cursor:text;
	}
	
	a.FileName:hover {
		border:1px solid #eee;
	}
	
	.dataView_Segment_Collapsed a.FileName {
		width:500px !important;
	}

	.FileAttribute
	{
		float:left;
		position:relative;
		width:310px;
		line-height:15px;
		color:#888;
		overflow:hidden;
		
		cursor:default;
	}
		
	a.fileItem_CommitUpdateBtn:link, a.fileItem_CommitUpdateBtn:visited {
		position:absolute;
		right:5px;
		bottom:5px;
		
		font-size:10px;
		text-decoration:none;
		color:#555;
		
		line-height:10px;
		padding:1px 5px 1px 5px;
		
		background:#f5f5f5;
		border:1px solid #aaa;
		
		-webkit-border-radius:5px;
	}
	
	a.fileItem_CommitUpdateBtn:hover {background-color:#fff;border-color:#27c;color:#27c;}
	a.fileItem_CommitUpdateBtn:active {background-color:#27c;color:#fff;}

	a.FileController:link, a.FileController:visited
	{
		position:absolute;
		right:1px;
		top:1px;
		
		height:20px;
		padding:0 5px 0 5px;
		line-height:20px;
		color:#888;
		background:#fff;
		z-index:5;
	}
	
	a.FileController:hover
	{
		text-decoration:none;
		background:#666;
		color:#fff;
	}

	.FileControl
	{
		margin-right:0px;
		height:15px !important;
		line-height:15px !important;
	}

	#SegmentsContainer_Inner
	{
		float:left;
		clear:left;
		width:100%;
		padding:5px 0 25px 0;
	}
	
	
	#PreviewImage_Zone, #PreviewImage2_Zone
	{
		position:absolute;
		right:2px;
		top:2px;
		width:176px;
		height:110px;
		background:#fff;
		border:1px solid #ccc;
	}
	
	a.LinkTrash:link, a.LinkTrash:visited, a.LinkTrash:hover
	{
		position:absolute;
		left:-15px;
		top:4px;
		width:15px;
		height:15px;
		background:url(/img/App_GUI/Misc/trash.gif) center center no-repeat;
	}
	
	#Input_PageLink_Bottom, #Input_PageLink_Top
	{
		margin-right:50px;
	}
	

.Input_FileName
{
	width:280px;
	font-size:12px;
	
	border:1px solid #bbb;
	-webkit-box-shadow:0 0 3px rgba(150, 150, 150, 0.9);
	outline:none;
}

a.Topic_TagSelection:link, a.Topic_TagSelection:visited, .Topic_TagSelection
{
	float:left;
	
	/*
	background:#dee7f8;
	border-left:1px solid #f0f0f0;
	border-top:1px solid #f0f0f0;
	border-right:1px solid #aaa;
	border-bottom:1px solid #aaa;
	border:1px solid #a4bdec;
	*/
	cursor:default;
	
	border:1px solid #75bcee;
	height:14px;
	line-height:13px;
	
	margin:0 1px 5px 1px;
	padding:0 5px 0 5px;
	
	text-decoration:none;
	color:#3b61ac;

	
	background: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0, #f7fbfe),
	    color-stop(0.15, #d2e9fa)
	);
	
	font-size:11px;
	text-shadow:0 1px 0 #fff;
	
	-webkit-border-radius:7px;
}

a.Topic_TagSelection:hover
{
	opacity:0.85;
}

a.Topic_TagSelection:active {
	opacity:0.7;
}

.nonFloat {float:none !important;}

.rightFloat {float:right !important;}


a.Topic_Selected_TagSelection:link, a.Topic_Selected_TagSelection:visited
{
	float:left;
	
	background:#598bec;
	border:1px solid #598bec;
	
	color:#fff;
	/*
	border-left:1px solid #f0f0f0;
	border-top:1px solid #f0f0f0;
	border-right:1px solid #aaa;
	border-bottom:1px solid #aaa;
	*/
	
	height:14px;
	line-height:14px;
	
	margin:0 1px 5px 1px;
	padding:0 5px 0 5px;
	
	text-decoration:none;
	
	font-size:10px;
	
	-webkit-border-radius:7px;
}

.Label_1{background:#ff3441; color:#fff;}

.Label_2{background:#f3cf29}

.Label_3{background:#666; color:#fff;}

.Label_4{background:#27c; color:#fff;}

.Label_5{background:#89d127}

.Label_6{background:#FF942A}

.Label_7{background:#CC00FF; color:#fff;}

.CalendarLabel
{
	float:left;
	display:block;
	width:10px;
	height:10px;
	margin:2px 5px 0 20px;
}
.CalendarDate
{
	float:left;
	margin:0 0 0 5px;
	font-size:11px;
	color:#888;
}
.ControlArea_GroupTitle
{
	float:left;
	width:100%;
	margin:10px 0 5px 0;
	border-bottom:1px dotted #ccc;
	font-size:11px;
	color:#666;
	text-indent:15px;
}

.ControlArea_Group
{
	float:left;
	clear:left;
	width:98%;
	margin-left:10px;
	padding-bottom:5px;
	
	position:relative;
	font-size:11px;
	color:#888;
}

.Topic_GenderIcon
{
	float:left;
	display:block;
	width:18px;
	height:20px;
	margin:2px 5px 0 20px;
}

.GenderIcon_Company	{background:url(/img/iSpace/Contacts/contact_company_grey.gif) left center no-repeat;}
.GenderIcon_Male	{background:url(/img/iSpace/Contacts/contact_male_grey.gif) left center no-repeat;}
.GenderIcon_Female	{background:url(/img/iSpace/Contacts/contact_female_grey.gif) left center no-repeat;}

a.ContactLink:link, a.ContactLink:visited
{
	float:left;
	display:block;
	text-decoration:none;
	color:#666;
	font-size:15px;
	line-height:20px;
}

a.ContactLink:hover
{
	text-decoration:underline;
	color:#222;
}

a.ContactEMail:link, a.ContactEMail:visited
{
	float:left;
	clear:left;
	display:block;
	font-size:10px;
	line-height:10px;
	color:#777;
}
a.ContactEMail:hover
{
	color:#555;
}

.ContactItem
{
	float:left;
	display:block;
	position:relative;
	
	padding:0 15px 0 20px;
		
	margin:0 10px 20px 5px;
}

.ActivityItem
{
	float:left;
	display:block;
	position:relative;
	
	padding:0 5px 0 0;
		
	margin:0 10px 20px 27px;
}

	a.ActivityLink:link, a.ActivityLink:visited
	{
		float:left;
		display:block;
		text-decoration:none;
		color:#666;
		font-size:13px;
		line-height:20px;
	}

	a.ActivityLink:hover
	{
		text-decoration:underline;
		color:#222;
	}

	a.ActivityContact:link, a.ActivityContact:visited
	{
		float:left;
		clear:left;
		display:block;
		font-size:10px;
		line-height:10px;
		color:#777;
		text-decoration:none;
	}
	a.ActivityContact:hover
	{
		color:#555;
	}

.SaveIndicator
{
	position:absolute;
	right:5px;
	bottom:5px;
	/*
	float:right;
	margin-right:5px;
	*/
	line-height:20px;
	color:#666;
	font-size:11px;
	font-weight:bold;
}

.Email_NotVisited
{
	color:#777;
	line-height:15px;
	font-size:11px;
}

.Email_VisitedEmail
{
	color:#222;
	line-height:15px;
	font-size:11px;
}

.DueDate_Input
{
	float:left;
	color:#777;
	
	width:95%;
	margin-top:1px;
	border:0px;
	
	font-size:11px;
	text-align:center;
}

	.DueDate_Input2
	{
		float:left;
		color:#777;

		width:95%;
		margin:1px 0 0 2px;
		border:0px;

		font-size:11px;
		text-align:center;
		background:#fffbef;
	}

a.SnapBack:link, a.SnapBack:visited
{
	position:absolute;
	left:15px;
	top:0px;
	height:16px;
	line-height:16px;
	padding:0 5px 0 25px;
	color:#666;
	background:url(/img/vClipper/snapback.jpg) left center no-repeat;
	text-decoration:none;
	z-index:5;
}
a.SnapBack:hover
{
	background-color:#F98D21;
	color:#fff;
}
a.SnapBack:active
{
	background-color:#999;
}

a.SnappingBack:link, a.SnappingBack:visited
{
	position:absolute;
	left:15px;
	top:0px;
	height:16px;
	line-height:16px;
	padding:0 5px 0 25px;
	color:#27c;
	font-weight:bold;
	background:url(/img/App_GUI/Misc/indicator_3.gif) left no-repeat;
	text-decoration:none;
}


.EmptyPart
{
	float:left;
	display:block;

	width:100%;
	height:20px;
	color:#888;
	font-size:11px;
	
}

.ListItem_Caption
{
	float:left;
	width:85%;
	line-height:25px;
	color:#222;
	font-size:13px;
}

.ListItem_DueDate
{
	position:absolute;
	right:5px;
	top:5px;
	width:100px;
	text-align:right;
}

	a.Topic_AddContent_Button:link, a.Topic_AddContent_Button:visited, a.Topic_AddContent_Button_Disabled:link, a.Topic_AddContent_Button_Disabled:visited
	{
		float:left;
		width:50px;
		height:30px;
		line-height:30px;
		text-indent:25px;
		text-decoration:none;
		color:#8a8a8a;
		
		background-image:url(/img/2008/topics/topic_buttons.png);
		background-repeat:no-repeat;
		background-position:0 0;
		
		font-size:13px;
		
		margin:0;
	}
	
	a.Topic_AddContent_Button_Disabled {
		opacity:0.5;
		cursor:not-allowed;
	}
	
	a.Topic_AddContent_Button:hover	{background-position:0 -30px;color:#555;}
	a.Topic_AddContent_Button:active	{background-position:0 -60px;color:#fff;}

	.Topic_AddContent_Button_hover
	{
		background-position:0 -60px !important;
		color:#fff !important;
	}

	
	.TopicControls_Menu
	{
		float:left;
		display:block;
		width:100%;
		height:30px;
		margin:0;
		
		position:relative;
		z-index:60;
	}
	
		.DropZone
		{
			float:left;
			margin-left:20px;
			height:30px;
			line-height:30px;
			color:#777;
			padding-left:37px;
			background:url(/img/2008/topics/dropzone.png) left center no-repeat;
		}

	.Topic_Controllers
	{
		position:absolute;
		
		left:0px;
		top:30px;
		
		width:210px;
		clear:left;
		
		float:left;
		
		margin:0 0 0 2px;
		
		
		z-index:9000;
		/*
		border-top:1px solid #ccc;
		-webkit-box-shadow: rgba(0, 0, 0, 0.40) 3px 3px 3px;
		*/
		background:rgba(255, 255, 255, 0.97);

		-webkit-border-radius: 5px;
		-webkit-box-shadow:2px 2px 30px #555;
		
		padding:5px 0 5px 0;
		
	}
		a.Topic_Control:link, a.Topic_Control:visited
		{
			float:left;
			display:block;
			border-left:1px solid #ccc;
			border-right:1px solid #ccc;
			border-bottom:1px solid #ccc;
			width:200px;
			height:25px;
			line-height:25px;
			font-size:13px;
			color:#666;
			background:#fff;
			text-indent:10px;
			text-decoration:none;
			position:relative;
			font-weight:bold;
		}
		
		a.Topic_Control:hover
		{
			color:#444;
			background:#f5f5f5;
		}
		
		a.Topic_Control:active
		{
			color:#fff;
			background:#eee;
		}
		
			.Topic_Control_Desc
			{
				position:absolute;
				right:5px;
				top:0;
				font-weight:normal;

				opacity:0.8;
			}
		
			.Topic_Control_More
			{
				color:#888 !important;
				font-weight:normal !important;
				font-size:12px !important;
				height:20px !important;
				line-height:20px !important;
			}
		
		/*
		.Topic_Control_Text
		{
			cursor:text;
			
			width:265px !important;
			width:275px;
			
			height:20px;
			
			line-height:20px;
			padding:0 0 0 10px !important;
			font-size:11px !important;
		}
		
			.Topic_Control_Text_BIG
			{
				cursor:text;
				
				width:465px !important;
				width:475px;

				height:240px !important;
				height:250px;
			}
		
		.Topic_Control_List
		{
			cursor:text;
			
			width:452px !important;
			width:462px;
			
			height:20px;
			
			line-height:20px;
			padding:0 0 0 10px !important;
			font-size:11px !important;
		}
		
			.Topic_Control_List_BIG
			{
				cursor:text;
				
				width:205px !important;
				width:215px;

				height:240px !important;
				height:250px;
			}
		*/
		
		.NewFile_Controllers
		{
			/*
			position:absolute;
			
			left:203px;
			top:82px;
			
			z-index:55;
			
			width:370px;
			*/
			
			float:left;
			margin:0;
			width:100%;
			color:#777;
			font-size:11px;
			
			/*
			background:#fafafa;
			border-left:1px solid #ccc;
			border-bottom:1px solid #ccc;
			border-right:1px solid #ccc;
			*/
		}
		
	.PageItem_Line
	{
		float:left;
		position:relative;
		width:100%;
		padding:5px 0 5px 0;
		z-index:10 !important;
	}
	
		.PageItem_Line .PageItem_Line_Key
		{
			float:left;
			width:40px;
			color:#999;
			text-align:right;
			margin-right:5px;
			font-size:11px;
		}
	
		.PageItem_Line .PageItem_Line_Value
		{
			float:left;
			width:80%;
		}
	
	.PageItem_Line_w
	{
		float:left;
		width:100%;
		padding:0;
	}

		.PageItem_Line_w .PageItem_Line_Key
		{
			float:left;
			width:40px;
			color:#999;
			text-align:right;
			
			font-size:11px;
			margin:5px 5px 0 0;
		}

		.PageItem_Line_w .PageItem_Line_Value
		{
			float:left;
			width:80%;
		}
	
	

.TopicList
{
	float:left;
	clear:left;
	width:100%;
	line-height:25px;
}


.TopicListTable
{
	float:left;
	width:100%;
	border:0;
	margin:0 0 0 0px;
	line-height:0px;
	padding:0;
}

	.TopicListTable_NameCol
	{
		position:relative;
		width:60%;
		height:25px;
		border-bottom:1px solid rgba(0,0,0,0.1);
	}
	
		.TopicListTable_NameCol_Header
		{
			position:relative;
			width:60%;
			height:25px;
			border-bottom:1px solid #aaa;
		}
	
	.TopicListTable_DateCol
	{
		width:20%;
		height:25px;
		
		/* background:url(/img/2009/shades/grey.png); */
		background:rgba(200, 200, 200, 0.05);
		/* background:#fffbef; */

		text-align:center;
		font-size:11px;
		
		border-bottom:1px solid rgba(0,0,0,0.1);
	}
	
		.TopicListTable_DateColFinishedTask
		{
			width:20%;
			height:25px;

			text-align:center;
			font-size:11px;

			border-bottom:1px solid rgba(0,0,0,0.1);
			/* background:#deffd9; */
			background:rgba(200, 200, 200, 0.05);
		}
	
		.TopicListTable_DateCol_Header
		{
			width:20%;
			height:25px;
		
		
			/* background:url(/img/2009/shades/black.png); */
			background:rgba(0,0,0,0.05);
			/* background:#fff7df; */
			text-align:center;
			
			border-bottom:1px solid #aaa;
			font-size:11px;
			line-height:25px;
			font-weight:bold;
			
			color:#777;
			text-shadow:1px 1px 0 #fff;
		}
		
	.TopicListTable_DateCol2
	{
		width:20%;
		height:25px;
		font-size:11px;
		text-align:center;
		
		border-bottom:1px solid rgba(0,0,0,0.1);
	}

		.TopicListTable_DateCol2_Header
		{
			width:20%;
			height:25px;

			text-align:center;

			border-bottom:1px solid #aaa;
			
			font-size:11px;
			line-height:25px;
			font-weight:bold;
			
			color:#777;
			text-shadow:1px 1px 0 #fff;
		}
	
	.Status_Box
	{
		float:left;
		width:25px;
		height:25px;
		display:block;
		
		background:url(/img/2009/checkbox.png) 0 0 no-repeat;
	}
	
	.Status_Box_Disabled {
		opacity:0.7;
		cursor:not-allowed;
	}
	
	.SelectedStatus
	{
		background-position:0 -25px;
	}
	
	
#x_TopicGroups
{
	float:left;
	width:100%;
}

a.shareStatus:link, a.shareStatus:visited {
	position:absolute;
	float:left;
	right:100px;
	top:5px;
	
	height:22px;
	
	display:block;
	padding:0 5px 0 5px;
	line-height:22px;
	
	-webkit-border-radius:4px;
	
	text-decoration:none;
	color:#333;
	/* background:url(/img/2009/shades/black.png); */
	background:rgba(0, 0, 0, 0.05);
	
}

a.shareStatus:hover {
	color:#000;
	text-decoration:none;
	/* background:url(/img/2009/shades/blackEx.png); */
	background:rgba(0, 0, 0, 0.1);
}

	#dataView_ShareStatus_Icon {
		float:left;
		display:block;
		width:20px;
		height:20px;
		margin-top:1px;
		
		background:url(/img/2008/controls/misc_icons.png?r960) no-repeat;
	}
	
	.dataView_ShareStatus_Icon_Private {
		background-position:-232px -41px !important;
	}
	.dataView_ShareStatus_Icon_Shared {
		background-position:-132px -41px !important;
	}
	

#Topic_Revision {
	position:absolute;
	left:0;
	top:0;
	font-size:10px;
	color:#666;
}