/* Preference */

.LanguageSelector
{
	margin:0 0 0 20px;
}

.SpecialPhrase
{
	font-weight:bold;
	color:#27c;
	font-size:13px;
}

fieldset {
	float:left;
	width:95%;
	border:1px solid #aaa;
	/* background:url(/img/2009/shades/grey.png); */
	background:rgba(200, 200, 200, 0.05);
	margin:5px 0 10px 10px;
	-webkit-border-radius:5px;

}

legend {
	color:#444;
	font-size:11px;
	font-weight:bold;
}

.PreferenceItem_Long
{
	float:left;
	display:block;
	
	margin:5px 0 10px 20px !important;
	margin:5px 0 10px 10px;
	
	width:90%;

	padding:5px 0 5px 0;
	line-height:20px;
}

	.PreferenceItem_SubItem {
		float:left;
		
		margin-left:30px;
		
		width:92%;
	}
	
		.PreferenceItem_SubItem .PreferenceItem_Long {
			padding:0 !important;
		}

	.PSID_Label {
		font-family:Andale Mono, Courier, Monaco, Verdana, monospace;
		letter-spacing:0.2em;
		font-size:13px;
		color:#27c;
	}

.PreferenceItem
{
	float:left;
	display:block;
	
	margin:5px 0 5px 20px !important;
	margin:5px 0 5px 10px;
	
	width:45%;
	padding:5px 0 5px 0;
	line-height:20px;
	
	color:#555;
	
}

.PreferenceItem_Separator {
	float:left;
	width:100%;
	height:0px;
	overflow:hidden;
	border-top:1px solid #ccc;
	margin:15px 0 5px 0;
}

.PreferenceInput
{
	width:200px;
	height:20px;
	text-align:center;
	
	background:#e0e9ef;
	border:1px solid #c0c9cf;
	
	color:#555;
}

.LongInput
{
	width:500px !important;
	text-align:left;
}

.Submit_Button
{
	width:120px;
	height:25px;
	
	margin-top:5px;
	font-family:Tahoma, Arial, sans-serif;
	font-weight:bold;
	font-size:11px;
	color:#333;
	
	margin-left:500px;
}

.HelpTip
{
	float:left;
	display:block;
	
	margin:0 0 10px 20px;
	
	width:95%;
	
	padding:5px 10px 5px 10px;
	/*
	background:url(/img/2009/shades/black.png);
	border:1px solid #ddd;
	
	-webkit-border-radius:4px;
	*/
	color:#444;
	
	line-height:20px;
	font-size:11px;
	cursor:default;
}

.UpdateInfo
{
	float:left;
	display:block;
	width:700px;
	
	border:1px solid #cc0;
	background:#ffa;
	
	margin:10px 0 0 20px;
	padding:5px 5px 5px 5px;
	
	color:#000;
	line-height:20px;
	
}

.Label_1{background:#ff3441}

.Label_2{background:#f3cf29}

.Label_3{background:#666}

.Label_4{background:#27c}

.Label_5{background:#89d127}

.Label_6{background:#FF942A}

.Label_7{background:#CC00FF}

.ColorLabel
{
	float:left;
	display:inline-block;
	width:30px;
	height:18px;
	margin:0 10px 0 10px;
	border:1px solid #999;
}

#sel_timezoneoffset
{
	float:left;
	margin-left:0px;
	width:60%;
	font-size:14px;
	color:#444;
}

#UserAvator_Form
{
	float:left;
	margin:5px 0 5px 20px;

	font-size:14px;
	color:#444;
}

.Spacer
{
	float:left;
	clear:left;
	width:97%;
	height:20px;
	border-top:1px dashed #ccc;
	margin:20px 0 0 5px;
}

.CalendarItem
{
	float:left;
	display:block;
	
	margin:5px 0 0 20px;
	
	padding-left: 50px !important;
	
	width:650px !important;
	width:700px;
	height:47px;
	line-height:47px;
	
	background:url(/img/vClipper/calendar.jpg) left center no-repeat;
	
	
}
#License
{
	float:left;
	position:relative;
	width:500px;
	
	height:65px !important;
	height:100px;
	line-height:15px;
	padding-top:35px;
	text-align:center;
	
	margin-left:120px !important;
	margin-left:60px;
	
	font-size:15px;
	color:#444;
	background:url(/img/App_GUI/BundleCover/licensed.jpg) left top no-repeat;
}

	#LicenseLabel
	{
		position:absolute;
		left:5px;
		top:5px;
		font-size:12px;
		color:#666;
		font-weight:bold;
	}
	
	#LicenseChange
	{
		position:absolute;
		right:5px;
		top:5px;
		font-size:12px;
	}


	
#Shortcuts_Container
{
	float:left;
	display:block;

	margin:5px 0 10px 20px !important;
	margin:5px 0 10px 10px;

	width:665px;
	border:1px solid #ccc;

	background:url(/img/App_GUI/Misc/shortcuts_bg.jpg) left top repeat-x;
}

	.FileTemplate_Icon
	{
		float:left;
		width:160px;
		height:50px;
		margin:5px 0 0 5px;
		
		cursor:move;
	}

#AboutPanel
{
	float:left;
	width:759px;
	height:650px;
	background:url(/img/App_GUI/BundleCover/About.png) left top no-repeat;

	margin:0;

	position:relative;
}

	#AboutPanel_VersionInfo
	{
		position:absolute;
		left:288px;
		top:165px;
		color:#333;
		font-size:11px;
	}
	
	.LicenseInfo
	{
		color:#000;
		font-size:13px;
		font-weight:bold;
	}

.Preference_Column
{
	float:left;
	width:360px;
	margin:5px 0px 5px 20px;
}

#Preference_AllTags, #Preference_HiddenTags
{
	float:left;
	width:330px;
	height:150px;
	
	overflow:auto;
	
	background:#f5f5f5;
	border:1px solid #ccc;
}

	a.Preference_Tag:link, a.Preference_Tag:visited
	{
		float:left;
		display:block;
		width:100%;
		height:20px;
		
		line-height:20px;
		overflow:hidden;
		color:#444;
		
		text-decoration:none;
		
		cursor:move;
	}
	
	a.Preference_Tag:hover
	{
		background:#eee;
		color:#111;
	}
	
	#Preference_TagExplore
	{
		float:left;
		width:761px;
		margin:0 0 0 0px;
	}
	
	.SelectInput {
		width:150px;
	}