body {background:#fff !important;}

.topicContainer, .contactContainer, #NotesPanel, .ContactBG {background:#fff !important};

input, .subCategoryTabBar, .Topic_AddContent_Button, .containerToolbar, .dataView_Controls, #PageControls, .AddNewEventLink, .PageSet_Edit_Prompt, .Channels_Edit_Prompt {
	display:none !important;
}

input[type="text"], input[type="button"], .OSXButton {
	display:none !important;
}

.TopicControls_Menu {
	display:none !important;
}

#PageControls {
	display:none !important;
}

cite {font-style:normal !important;}