.ChannelsBG_Icon {
	float:left;
	width:100%;
	margin:0;
	position:relative;
	
	/* background:url(/img/2009/channelsbg_icon.png) left top no-repeat; */
	background:url(/img/2009/shareditem_bgIcon.png) -40px -20px no-repeat;
}

.ChannelUI_Header {
	
	float:left;
	width:100%;
	margin:0;
	position:relative;
}

.ChannelUI_EditPanel h4 {
	float:left;
	width:100%;
	margin:5px 0 10px 0;
	padding:0;
	text-indent:30px;
	font-size:15px;
	font-weight:bold;
	color:#ccc;
	text-shadow:0 -1px 0 #111;
}

.ChannelUI_EditPanel {
	float:left;
	width:100%;
	margin:0;
	position:relative;
	/* background:url(/img/2009/shades/blackEx.png); */
	background:#404040;
	padding:10px 0 10px 0;
}

	.Channels_Edit_SepLine {
		float:left;
		width:100%;
		height:1px;
		
		border-top:1px solid #222;
		background:#999;
		
		font-size:1px;
		overflow:hidden;
	}

	.Channels_Edit_Line {
		float:left;
		width:100%;
	
		font-size:12px;
		margin-bottom:5px;
		
		cursor:default;
	}
	
		.Channels_Edit_Line cite {
			font-weight:normal;
			color:#aaa !important;
			font-size:11px;
		}
		
	.Channels_Edit_Line_Key {
		float:left;
		display:block;
		width:39%;
		
		
		padding:5px 0 5px 0;
		text-align:right;
		
		font-weight:bold;
		color:#aaa;
		font-size:14px;
		
		text-shadow:0 -1px 0 #111;
	}
	
	
	.Channels_Edit_Line_Value {
		float:left;
		display:block;
		width:60%;
		padding:5px 0 5px 0;
		margin-left:5px;
		text-align:left;
		color:#ccc;
	}
	
	.Channels_Edit_Line_Input {
		float:left;
		width:300px;
		font-size:13px;
		
		padding:3px;
		
		background:#444;
		color:#ccc;
		border:1px solid #888;
		outline:none;
		
		margin:0;
	}
	

	.ChannelsBG_Icon h1 {
		color:#ccc;
		float:left;
		margin:20px 0 10px 0;
		text-indent:40px;
		
		font-size:22px;

		text-shadow:0 -1px 0 #111;
	}
	
	.Channels_Summary {
		float:left;
		width:100%;
		margin:5px 0 0 0;
		padding-bottom:15px;
		/* border-bottom: 1px solid #a1c4d7; */
	}
	
	.Channels_Summary_Line {
		float:left;
		width:100%;
		
		font-size:12px;
	}
	
		.Channels_Summary_Line_Key {
			float:left;
			display:block;
			width:39%;
			padding:5px 0 5px 0;
			text-align:right;
			
			font-weight:bold;
			color:#aaa;
		}
		
		.Channels_Summary_Line_Value {
			float:left;
			display:block;
			width:60%;
			padding:5px 0 5px 0;
			margin-left:5px;
			text-align:left;
			color:#ccc;
		}
		
	.Channels_List {
		float:left;
		width:100%;
		margin:0;
	}
	
	.ChannelList_Item {
		
		width:95%;
		
		margin-top:10px;
		padding-bottom:10px;
		position:relative;
		
		border:1px solid #666;
		
		background-image:url(/img/2009/channelItem_Icon.png);
		background-repeat:no-repeat;
		background-position:15px 8px;

		/* background-color:rgba(251, 253, 254, 0.3); */
		
	}
	
		.ChannelList_Item_Alt {
			/* background:url(/img/2009/shades/grey.png); */
			background:rgba(200, 200, 200, 0.05);
		}
	
		.ChannelList_Item_Title {
			float:left;
			margin:10px 0 0 50px;
			
			width:95%;
			display:block;
			
			line-height:25px;
			
			color:#ccc;
			
			font-size:18px;

		}
		
		.ChannelList_Item_Status {
			float:left;
			display:block;
			margin:10px 0 0 50px;
			width:95%;
			font-size:12px;
			
			color:#aaa;
		}
		
	#Channels_Join_InvitationCode {
		font-size:14px;
		text-align:center;
		color:#444;
		width:200px;
		border:1px solid #999;
		
		-webkit-border-radius:3px;
		
		background-color:#fafafa;
	}

.Channel_ContentList {
	float:left;
	width:100%;
	
	background:#fff;

	border-top:1px solid #222;
	border-bottom:1px solid #222;
}

a.Channels_Edit_Prompt:link, a.Channels_Edit_Prompt:visited {
	float:left;
	width:100%;
	height:20px;
	line-height:20px;
	border-top:1px solid #222;
	
	background-color:#555;
	
	font-size:11px;
	color:#aaa;
	text-decoration:none;
	
	text-indent:10px;
}

a.Channels_Edit_Prompt:hover {background-color:#5f5f5f;}

a.Channels_Edit_Prompt:active {background-color:#505050;}

a.Channels_InviteBtn:link, a.Channels_InviteBtn:visited {
	float:left;
	line-height:25px;
	padding:0 10px 0 25px;
	background:#ccc url(/img/2008/controls/arrow_icons.png) -57px -77px no-repeat;
	
	-webkit-border-radius:3px;
	
	color:#333;
	text-decoration:none;
}

a.Channels_InviteBtn:hover {
	background-color:#c5c5c5;
	color:#111;
}

a.Channels_InviteBtn:active {background-color:#b5b5b5;}

.Channels_SpaceIndicator_Frame {
	float:left;
	position:relative;
	
	width:250px;
	height:12px;
	border:1px solid #666;
	background:#333;
	margin-top:1px;
	-webkit-border-radius:3px;
}

.Channels_SpaceIndicator_Bar {
	float:left;
	margin:1px 0 0 1px;
	height:10px;

	background: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0, rgba(160,160,160, 0.6)),
	    color-stop(1, rgba(90,90,90, 1))
	);
	-webkit-border-radius:2px;
	-webkit-transition:opacity 0.2s ease-in-out;
}


.Channels_SpaceIndicator_Label {
	position:absolute;
	left:-1px;
	top:-1px;
	width:252px;
	height:14px;
	line-height:14px;
	text-align:center;
	
	font-size:12px;
	color:#eee;
	
	background:#555;
	
	text-shadow:1px 1px 1px #222;

	opacity:0;
	
	-webkit-transition:opacity 0.2s ease-in-out;
	
	cursor:default;
}

.Channels_SpaceIndicator_Label:hover {
	opacity:0.7;
}

.Channels_SpaceIndicator_Frame_Full {
	border-color:#ffcccc;
}

.Channels_SpaceIndicator_Bar_Full {
	background:#ff7f7f;
}