#TabBar
{
	float:left;
	position:relative;
	width:100%;
	height:70px;
	background:#fff url(/img/iSpace/Contacts/TabBar_bg.jpg) left bottom repeat-x;
	
}
	/*
	.AddNewContact
	{
		position:absolute;
		left:10px;
		top:10px;
		width:150px;
		height:25px;
		line-height:20px;
		font-weight:bold;
		font-size:11px;
	}
	*/

	.Contacts_Spacer
	{
		float:left;
		width:100%;
		margin:0;
		height:40px;
		display:block;
	}

	#HintText
	{
		position:absolute;
		right:5px;
		bottom:5px;
		color:#777;
		
	}
	
	a.AddTab:link, a.AddTab:visited
	{
		float:left;
		width:65px;
		height:30px;
		margin:40px 0px 0 0px;
		
		text-align:center;
		color:#777;
		line-height:35px;
		text-decoration:none;
		
		font-size:12px;
	}
	
	a.AddTab:hover
	{
		background:url(/img/iSpace/Contacts/AddTab_hover.jpg) left bottom no-repeat;
	}
	
	.AddTab_Selected
	{
		background:url(/img/iSpace/Contacts/AddTab_selected.jpg) left bottom no-repeat;
	}

	a.SubTab:link, a.SubTab:visited
	{
		float:left;
		width:145px;
		height:30px;
		margin:40px 0px 0 0;
		
		text-align:center;
		color:#777;
		line-height:35px;
		text-decoration:none;
		
		font-size:12px;

	}
	
	a.SubTab:hover
	{
		background:url(/img/iSpace/Contacts/HoverTab.jpg) left bottom no-repeat;
	}
	
	.SelectedSubTab
	{
		background:url(/img/iSpace/Contacts/SelectedTab.jpg) left bottom no-repeat !important;
		color:#222;
		font-weight:bold;
	}
	
#TagsContainer
{
	float:left;
	width:764px !important;
	width:763px;
	height:58px;
	
	background:#F0FFE2 url(/img/iSpace/Contacts/Tags_bg.jpg) left bottom repeat-x;
	
	margin:0 0 0 1px;
	
	border-bottom:1px solid #bbb;
}
/*
	#SearchBox
	{
		float:right;
		width:250px;
		margin:20px 20px 0 0;
		color:#888;
	}
	
	#SearchResult
	{
		float:right;
		
		margin:0 10px 0 0;
		color:#888;
		line-height:58px;
		text-align:right;
	}

*/
#ContactsContainer
{
	float:left;
	position:relative;

	width:100%;
	
	background:#eee;
	
}

	#ContactsContainer cite
	{
		float:left;
		display:block;
		height:40px;
		width:600px;
		font-size:30px;
		color:#ccc;
		margin:20px 0 0 20px;
	}

	#AlphabeticalList
	{
		float:left;
		border-left:1px solid #ddd;
		width:19px;

		background:#eee;
	}
	
		a.AlphabeticalWord:link, a.AlphabeticalWord:visited
		{
			float:left;
			display:block;
			width:19px;
			height:15px;
			line-height:15px;
			font-size:10px;
			color:#444;
			text-decoration:none;
			text-align:center;
		}
		
		a.AlphabeticalWord:hover
		{
			background:#888;

			color:#fff;
		}

	#ContactsList
	{
		float:left;
		
		width:800px;	/* 734 */

		overflow-x:hidden;
		background:#fff;
		
	}
	/* for those don't sort alphabetically */
	#ContactsList_w
	{
		float:left;
		
		width:100%;
		
		background:#fff;
	}
	
	#ContactsList b
	{
		color:#222 !important;
	}
	
	a.ContactsList_Item:link, a.ContactsList_Item:visited
	{
		float:left;
		width:100%;
		height:25px;
		overflow:hidden;
		text-decoration:none;
		
		background:#fff;
		border-bottom:1px solid #eee;
		
		color:#777;

		cursor:default;

	}
	
	a.ContactsList_Item:hover
	{
		background:#fafafa;
		color:#222;
	}
	
	a.ContactsList_Item:active
	{
		background:#f5f5f5;
	}
	
		.ContactsList_FavIcon
		{
			float:left;
			display:block;
			width:25px;
			height:25px;
			background:#fff url(/img/iSpace/Contacts/FavIcon.jpg) center center no-repeat;
		}
		
		.ContactsList_NonFavIcon
		{
			float:left;
			display:block;
			width:25px;
			height:25px;
			margin-left:10px;
			background-image:url(/img/2008/topics/topicrelated_icons.png);
			background-position:30px 30px;
			background-repeat:no-repeat;
		}
	
		.ContactsList_Name
		{
			float:left;
			width:550px;

			font-size:13px;
			line-height:25px;
			
			margin:0 0 0 10px;
		}
		
		.ContactsList_Primary
		{
			float:right;
			margin-right:20px;
			font-family:"Courier New", "Vernada", "Consolas", "Tahoma", sans-serif;
			font-weight:bold;
			line-height:25px;
			color:#999;
			cursor:pointer;
			cursor:hand;
		}
		
		.ContactsList_Company
		{
			float:left;
			margin:0 0 0 10px;
			font-family:"Courier New", "Vernada", "Consolas", "Tahoma", sans-serif;
			font-weight:bold;
			line-height:40px;
			color:#999;
		}
	
	.LetterSep
	{
		float:left;
		width:100%;
		height:15px;
		background:#f5f5f5;
		border-bottom:1px solid #ddd;
		color:#222;
		font-size:11px;
		font-weight:bold;
		line-height:15px;
	}
	
	#Contact_Detail
	{
		position:absolute;
		float:left;
		left:0px;
		bottom:0px;
		width:100%;

		height:450px;

		background:#eee;
		z-index:1;
		border-top:1px solid #ccc;
	}
	
		#Contact_Header
		{
			float:left;
			width:100%;
			position:relative;
			min-height:76px;
			border-bottom:1px solid #c2e0aa;
			
			/* background:#e9fbdc url(/img/2009/contact_header_bg.jpg) left top repeat-y; */

			/*
			background:rgba(232, 251, 219, 0.5);
			background: -webkit-gradient(
			    linear,
			    left top,
			    right bottom,
			    color-stop(0, rgba(255,255,255, 0.2)),
			    color-stop(0.1, rgba(255,255,255, 1)),
			    color-stop(0.4, rgba(255,255,255, 0.7)),
			    color-stop(0.9, rgba(225,225,225, 0.3))
			) !important;
			*/
			background:#444;
			
			-webkit-box-shadow: rgba(0, 0, 0, 0.10) 0px 1px 2px;
			border-bottom:1px solid rgba(0,0,0,0.2);
		}
		
			#x_ContactName
			{
				float:left;
				margin:5px 0 0 50px;
				padding:0 0 0 0;
				height:40px;
				font-size:22px;
				font-weight:normal;
				
				color:#ccc;
				
				line-height:35px;
				text-shadow:0 -1px 0 #111;
			}
			
	a.Aqua_Btn:link, a.Aqua_Btn:visited
	{
		display:block;
		width:65px;
		height:35px;
		margin:0 0px 0 5px;
		line-height:37px;
		
		text-decoration:none;
		
		color:#fff;
		text-align:center;
		background:url(/img/iSpace/Contacts/Aqua_Btn.jpg) left top no-repeat;
	}
	
	a.Aqua_Btn:hover
	{
		background:url(/img/iSpace/Contacts/Aqua_Btn_hover.jpg) left top no-repeat;
	}
	
	a.Detail_Print:link, a.Detail_Print:visited
	{
		position:absolute;
		right:25px;
		top:2px;
		width:35px !important;
		width:55px;
		
		padding-left:20px;
		
		height:20px;
		line-height:20px;
		text-decoration:none;
		text-align:center;
		color:#666;
		
		background:url(/img/App_GUI/Misc/printer_icon.gif) 5px center no-repeat;
	}
	
	a.Detail_Print:hover
	{
		color:#333;
		background-color:#eaeaea;
	}
	
	a.Detail_Print:active
	{
		background-color:#ddd;
	}
	
	a.Detail_QuickAccess:link, a.Detail_QuickAccess:visited
	{
		position:absolute;
		right:80px;
		top:2px;
		padding:0 5px 0 5px;
		height:20px;
		line-height:20px;
		text-decoration:none;
		color:#666;
	}
	
	a.Detail_QuickAccess:hover
	{
		color:#333;
		background:#eaeaea;
	}
	
	a.Detail_QuickAccess:active
	{
		background:#ddd;
	}
	
	a.Detail_Trash:link, a.Detail_Trash:visited
	{
		position:absolute;
		right:2px;
		top:2px;
		width:20px;
		height:20px;

		background:url(/img/App_GUI/Misc/trash.gif) center center no-repeat;
	}
	
	a.Detail_Trash:hover
	{
		background-color:#eaeaea;
	}
	
	a.Detail_Trash:active
	{
		background-color:#ddd;
	}
	
	#ContactIndicator
	{
		float:right;
		display:block;


		margin:0 0px 0 5px;
		line-height:37px;
		
		font-size:11px;
		font-weight:bold;
		color:#777;
	}
	
	.BackBtn
	{
		float:left;
	}
	
	.NavBtn
	{
		float:right;
	}
	
	a.Indicator_Btn:link, a.Indicator_Btn:visited
	{
		display:block;
		width:65px;
		height:35px;
		margin:0 0px 0 5px;
		background:url(/img/App_GUI/Misc/indicator_3.gif) center center no-repeat;
	}
	
	#Contact_LeftColumn
	{
		float:left;
		
		width:562px;
		
		height:414px;
		background:#fafafa;
		border-right:1px dashed #ccc;
		
		margin:0 0 0 0;
	}
	
	
		#Contact_CustomizableLines
		{
			float:left;
			width:100%;
			
			overflow:hidden;
		}
	
	
	#x_SpecialPanel
	{
		float:left;
		width:100%;
	}
	
	.Contact_Line, .Contact_Line_w
	{
		float:left;
		position:relative;

		width:100%;
		padding:5px 0 5px 0;
		margin:0;
		
		font-size:11px;
		overflow:visible;
		border-bottom:1px solid #666;
	}
	
		.Contact_Line:hover {background:#5d5d5d}
	
	
		#CreateNew_Input
		{
			float:left;
			width:98%;
			margin-left:1%;
			
			background:#444;
			color:#ccc;
			border:1px solid #888;
			outline:none;
		}
		
		#CreateNew_Input:focus {
			
			-webkit-box-shadow:0 0 3px rgba(255,255,255, 0.9);
			
		}
	
		.Contact_Line_Indicator
		{
			position:absolute;
			left:1px;
			top:8px;
			width:20px;
			height:20px;
			background:url(/img/App_GUI/Misc/indicator.gif) center center no-repeat;
		}
	
		.Contact_Line_Indicator_w
		{
			position:absolute;
			right:20px;
			bottom:14px;
			width:20px;
			height:20px;
			background:url(/img/App_GUI/Misc/indicator_3.gif) center center no-repeat;
		}
	
		.Contact_Line .Contact_Controls
		{
			position:absolute;
			left:-40px;
			top:2px;
			float:left;
			z-index:5;
			background:#5d5d5d;
			
			-webkit-transition: all 0.2s ease-in-out;
		}
		
		.Contact_Line:hover .Contact_Controls {left:0px;}
		
		a.Contact_Controls_Trash:link, a.Contact_Controls_Trash:visited
		{
			float:left;
			display:block;
			width:18px;
			height:20px;
			background:url(/img/App_GUI/Misc/trash.gif) center 4px no-repeat;
			
			z-index:10;
			
			opacity:0.8;
		}
		
		a.Contact_Controls_Trash:hover
		{
			opacity:1;
		}
	
		a.Contact_Controls_Edit:link, a.Contact_Controls_Edit:visited
		{
			float:left;
			display:block;
			height:20px;
			padding:0 5px 0 5px;
			color:#444;
			line-height:20px;
		}
		
		a.Contact_Controls_Edit:hover
		{
			background:#888;
			color:#fff;
			text-decoration:none;
		}
	
		.Contact_Controls_Handler
		{
			float:left;
			display:block;
			width:18px;
			height:20px;
			/* background:url(/img/App_GUI/Misc/move.gif) center center no-repeat; */
			background:url(/img/2009/arrows.png?1153) 0px -140px no-repeat;
			
			cursor:row-resize;
		}
	
		.Contact_Key
		{
			float:left;
			display:block;

			width:33%;

			text-align:right;
			padding-right:5px;
			
			color:#aaa;
		}
		
		.Contact_Value
		{
			float:left;
			display:block;
			width:64%;

			color:#ccc;
		}
		
		.Contact_Line_Input
		{
			float:left;
			width:99%;

			font-size:12px;
			margin:3px 0 0 1px;

			background:#444;
			color:#ccc;
			border:1px solid #888;
			outline:none;
			
			height:50px;
			
			resize:none;
		}
		
		.Contact_Line_Input_w
		{
			float:left;

			width:100%;

			font-size:13px;
			line-height:20px;
			margin:0;

			background:#444;
			color:#ccc;
			border:1px solid #888;
			outline:none;

		}
		
		a.Contact_Line_Cancel:link, a.Contact_Line_Cancel:visited
		{
			color:#aaa;
			line-height:30px;
			margin-left:10px;
			font-size:12px;
		}
		
		a.Contact_Line_Cancel:hover
		{
			color:#ccc;
		}
		
		.Contact_Line_Hint
		{
			float:left;
			color:#aaa;
			font-size:10px;
		}
		
		.NameEdit
		{
			width:400px;
			font-size:18px;
		}
		
	a.EntryInserter:link, a.EntryInserter:visited
	{
		float:left;
		clear:left;
		display:block;
		width:115px !important;
		width:120px;
		height:20px;
		line-height:20px;

		border:1px solid #ddd;
		color:#aaa;
		padding-left:5px;
		text-decoration:none;
		margin:5px 0 5px 5px;
	}

	a.EntryInserter:hover
	{
		border:1px solid #aaa;
		color:#555;
	}

	.DefaultLink
	{
		float:right;
		display:block;
		
		margin:5px 0 0 5px;
		
		background-position:center center;
		
		font-weight:normal !important;
		font-size:11px !important;
		
	}
	
		.SaveAs{background-image:url(/img/iSpace/Contacts/SaveAsDefault.gif);}
		
		.LoadAs{background-image:url(/img/iSpace/Contacts/LoadDefault.gif);}
		
		.WorkingAs{background-image:url(/img/App_GUI/Misc/indicator_4.gif);}
		
		
	#Gender
	{
		float:left;
		clear:left;
		margin:0 0 0 50px;
	}
	
	.GenderOption
	{
		float:left;

	}
	
	.GenderIcon
	{
		float:left;
		display:block;

		margin:0 5px 0 0;
		width:18px;
		height:18px;
		
		background-image:url(/img/2008/topics/topicrelated_icons.png);
		background-repeat:no-repeat;
	}
	
	.Organization{margin-left:30px !important;}
	
	
	
	a.TagSelection:link, a.TagSelection:visited
	{
		float:left;
		display:block;
		margin:1px;
		/* background:url(/img/2009/shades/grey.png); */
		background:rgba(200, 200, 200, 0.05);
		
		height:20px;
		line-height:20px;
		padding:0 5px 0 5px;
		text-decoration:none;
		color:#444;
	}

	a.TagSelection:hover
	{
		/* background:url(/img/2009/shades/black.png); */
		background:rgba(0,0,0, 0.05);
		color:#000;
	}
	
	a.TagSelection:active
	{
		background:#bbb;
	}


	a.Selected_TagSelection:link, a.Selected_TagSelection:visited
	{
		float:left;
		margin:5px;
		background:#38d;
		color:#fff;
		border-left:1px solid #f0f0f0;
		border-top:1px solid #f0f0f0;
		border-right:1px solid #aaa;
		border-bottom:1px solid #aaa;
		height:25px;
		line-height:25px;
		padding:0 5px 0 5px;
		text-decoration:none;
	}

	a.Selected_TagSelection:hover
	{
		background:#149;
	}
	
	#CreateNew_Edit
	{
		float:left;
		position:relative;
		
		width:96%;

		padding-top:5px;
		margin:5px 0 0 5px;
	}
	
	a.ExportBtn:link, a.ExportBtn:visited
	{
		float:left;
		display:block;
		width:40px;
		height:20px;
		margin:18px 0 0 10px;
		border:1px solid #ddd;
	}
	
	a.ExportBtn:hover
	{
		border:1px solid #999;
	}
	
	a.ToExcel:link, a.ToExcel:visited{background:#fff url(/img/App_GUI/Misc/to_excel.jpg) right bottom no-repeat;}
	a.ToExcel:hover{background:#fff url(/img/App_GUI/Misc/to_excel_hover.jpg) right bottom no-repeat;}
	
	a.TovCard:link, a.TovCard:visited{background:#fff url(/img/App_GUI/Misc/to_vcards.jpg) right bottom no-repeat;}
	a.TovCard:hover{background:#fff url(/img/App_GUI/Misc/to_vcards_hover.jpg) right bottom no-repeat;}
	
	.Indicator
	{
		background:#fff url(/img/App_GUI/Misc/indicator_3.gif) center center no-repeat;
	}
	
	a.FieldLink:link, a.FieldLink:visited
	{
		color:#ccc;

		cursor:hand;
		cursor:pointer;
	}
	
	a.FieldLink:hover
	{
		color:#ddd;
		text-decoration:underline;
	}
	
	
	#ActivityPanel
	{
		float:left;
		width:75%;

		margin:0;
	}
	
	#NotesPanel
	{
		float:left;
		width:24%;

		margin:0;
		border-left:1px solid #999;
		text-shadow:0 -1px 0 #111;
	}
	
	#NotesPanel h4
	{
		float:left;
		display:block;
		width:100%;
		margin:10px 0 0 0;
		padding:0;
		text-indent:10px;
		text-align:left;
		
		color:#aaa;
		border-bottom:1px solid #999;
		
		font-size:11px;
		line-height:15px;
		height:15px;
	}
	
.Activity_Item
{
	float:left;
	width:100%;
	position:relative;
	
	margin:0;
	padding:5px 0 5px 0;
	border-bottom:1px solid #f2f2f2;
}

.Activity_DateTime
{
	float:left;

	display:block;
	padding-right:5px;
	width:16%;

	border-right:1px solid #888;

	font-size:11px;
	
	font-weight:bold;
	color:#27c;
	margin:0 0 0 0;
	
	text-align:right;
}

.Activity_Year{color:#666;}

/*p{margin:5px 0 5px 0;font-size:11px;color:#222;}*/

.Activity_Body
{
	float:right;
	clear:right;
	display:block;
	width:82%;
	
	color:#666;
	
	line-height:15px;
}

.Activity_Status
{
	position:absolute;
	bottom:0px;
	left:20px;
	
	
	width:445px;
	height:20px;
	line-height:20px;
	
	font-size:11px;
	color:#777;
}

.Activity_Category
{
	float:right;
	
	display:block;
	font-size:11px;
	height:20px;
	line-height:20px;
	
	padding:0 5px 0 5px;
	
	background:#444;
	color:#eee;
	
	margin:5px 0 0 0;
}

.Activity_CheckBox
{
	float:left;
	margin:0px 0 0 2px;
}

a.Activity_Insert:link, a.Activity_Insert:visited
{
	float:left;
	
	display:block;
	
	width:20px;
	height:20px;
	border-right:1px solid #ddd;
	
	background:url(/img/App_GUI/Misc/insert.png) 4px 0 no-repeat;
}

a.Activity_Insert:hover{background-color:#f5f5f5;}
a.Activity_Insert:active {background-color:#ddd;}


a.Activity_Trash:link, a.Activity_Trash:visited
{
	float:left;
	
	display:block;
	
	width:20px;
	height:20px;
	
	background:url(/img/App_GUI/Misc/trash.gif) center center no-repeat;
}

a.Activity_Trash:hover
{
	background:#f5f5f5 url(/img/App_GUI/Misc/trash.gif) center center no-repeat;
}

a.Activity_Trash:active
{
	background:#ddd url(/img/App_GUI/Misc/trash.gif) center center no-repeat;
}

a.Activity_Link:link, a.Activity_Link:visited
{
	float:left;
	margin:0 0 0 0;
	border-right:1px solid #ddd;
	display:block;

	height:20px;
	
	padding:0 6px 0 6px;

	color:#444;
	font-size:11px;
	
	line-height:20px;
	text-decoration:none;

}

a.Activity_Link:hover
{
	color:#000;
	background:#f5f5f5;
	text-decoration:none;
}

a.Activity_Link:active
{
	background:#ddd;
}

.Activity_Select
{
	float:left;
	margin-left:5px;
}

.Activity_Date_Input
{
	float:left;
	width:100px;
	text-align:center;
}

.Activity_Tag_Input
{
	float:left;
	width:220px;

	margin:2px 0 0 10px;
	color:#666;
}

.Activity_Buttons
{
	float:left;
	display:block;

	height:20px;
	line-height:20px;
	margin-left:10px;
}

.Activity_Body_Input
{
	float:left;
	clear:left;
	width:100%;
	height:25px;

	font-size:14px;
	color:#555;
	margin:0 0 0 0;
	
	overflow:auto;
}

.Activity_Body_Edit_Input
{
	float:left;
	clear:left;
	width:100%;
	height:100px;

	font-size:14px;
	color:#555;
	margin:0 0 0 0;
	
	overflow:auto;
}

#CreateNew_Note
{
	float:left;
	width:190px;

	height:25px;
	color:#555;
	font-size:14px;

	margin-top:5px;
	
	overflow:auto;
}
#CreateNew_Note_Hint
{
	float:left;
	clear:left;
	width:100%;
	display:block;
	height:15px;
	font-size:11px;
	color:#777;
}

a.ReferenceLinks:link, a.ReferenceLinks:visited
{
	float:left;
	display:block;
	
	width:100%;
	
	height:24px;
	line-height:24px;
	color:#666;
	text-decoration:none;
	margin:0;
	text-indent:20px;
	
	border-bottom:1px solid #eee;
	
	overflow:hidden;
	
	background-image:url(/img/iSpace/icon_post.gif);
	background-repeat:no-repeat;
	background-position:2px center;
}

a.ReferenceLinks:hover
{
	color:#222;
	background-color:#fafafa;
}

a.ReferenceLinks:active
{
	background-color:#eee;
}

.ContactGroupSpacer
{
	float:left;
	display:block;
	width:100%;
	height:40px;

}

#Rating
{
	position:absolute;
	right:10px;
	top:20px;
	color:#aaa;
	font-size:11px;
}

.NoteAdded
{
	float:left;
	width:186px !important;
	width:196px;
	position:relative;
	background:#e5e5e5;
	font-size:11px;
	color:#444;
	padding:5px;
	margin:2px 0 0 2px;
}

#NoteAdded
{
	float:left;
	width:186px !important;
	width:196px;

	font-size:11px;
	color:#444;
	padding:5px;
	margin:2px 0 0 2px;
}

.Note_Controls
{
	position:absolute;
	right:2px;
	top:0px;
}

.Task_Title
{
	float:left;
	/* width:350px !important; */
	
	width:60%;
	font-size:14px;
	color:#555;

	margin:0 5px 0 0;
}

.Task_DueDate_InputGroup
{
	float:left;
	width:50%;
	margin:5px 0 0 0;
	
}

.Task_DueDate
{
	float:left;
	width:70%;
	font-size:14px;
	color:#777;
	margin:0;
}

.Task_DateTime
{
	float:left;

	display:block;
	padding-right:5px;
	width:85px !important;
	width:90px;

	border-right:1px solid #888;
	
	font-size:11px;
	
	
	font-weight:bold;
	color:#27c;
	margin:0 0 0 0;
	
	text-align:right;
}


#x_TagStat
{
	font-size:11px;
	line-height:15px;
	text-align:right;
	color:#666;
	width:190px;
	display:block;
	margin:0 5px 0 0;
}

a.SnapBack:link, a.SnapBack:visited
{
	position:absolute;
	left:7px;
	top:0px;
	height:16px;
	line-height:16px;
	padding:0 5px 0 25px;
	color:#ccc;
	background:url(/img/vClipper/snapback_grey.jpg) left center no-repeat;
	text-decoration:none;
	z-index:5;
}
a.SnapBack:hover
{
	background-color:#F98D21;
	color:#fff;
}
a.SnapBack:active
{
	background-color:#999;
}

a.SnappingBack:link, a.SnappingBack:visited
{
	position:absolute;
	left:7px;
	top:0px;
	height:16px;
	line-height:16px;
	padding:0 5px 0 25px;
	color:#fff;
	font-weight:bold;
	background:url(/img/App_GUI/Misc/indicator_3.gif) left no-repeat;
	text-decoration:none;
	
	z-index:5;
}


.Note_Item
{
	float:left;
	position:relative;
	width:190px;
	margin:5px 0 0 5px;
	font-size:11px;
	color:#444;
	background:#eee;
}

.TagKey
{
	float:left;
	display:block;
	width:140px;
	height:15px;
	line-height:15px;
	text-align:right;
	color:#333;
	font-size:11px;
	overflow:hidden;
}

.TagValue
{
	float:left;
	display:block;
	width:40px;
	height:15px;
	line-height:15px;
	margin-left:5px;
	color:#777;
	font-size:11px;
}

.Attachment_Item
{
	float:left;
	display:block;
	width:220px;
	margin:10px 0 0 0;
	position:relative;
}

.Attachment_Icon
{
	float:left;
	width:25px;
	height:25px;
	margin:2px 5px 0 2px;
}

a.Attachment_Name:link, a.Attachment_Name:visited
{
	float:left;
	display:block;
	width:185px;
	height:20px;
	line-height:20px;
	font-weight:bold;
	font-size:11px;
	color:#333;
	text-decoration:none;
	overflow:hidden;
}

a.Attachment_Name:hover
{
	text-decoration:underline;
	color:#222;
}

.Attachment_Stat
{
	float:left;
	margin:0 0 0 0;
	font-size:11px;
	color:#777;
	display:block;
	width:185px;
	height:15px;
	line-height:10px;
}

.Attachment_Item2
{
	float:left;
	clear:left;
	display:block;
	width:220px;
	margin:0px 0 0 0;
	padding-left:20px;
	position:relative;
}

a.Attachment_Trash:link, a.Attachment_Trash:visited
{
	position:absolute;
	left:0px;
	top:3px;
	background:url(/img/App_GUI/Misc/trash.gif) center center no-repeat;
	
	width:16px;
	height:16px;
}

a.Attachment_Trash:hover{background-color:#666;}

a.Attachment_Trash:active{background-color:#444;}

.Profile_Attachment_Frame
{
	float:left;
	width:100%;
	height:20px !important;
	height:25px;
	overflow:hidden;
}

.ProfileTask_Description
{
	float:left;

	display:block;
	width:445px;
	
	color:#666;
	margin-left:5px;
	line-height:15px;
}

.ProfileTask_DueDate
{
	float:left;
	position:absolute;
	right:0px;
	top:0px;

	width:90px;
	line-height:10px;
	font-size:11px;
	font-weight:bold;
	color:#27c;
	
	text-align:right;
}

.ProfileTask_Edits
{
	float:left;
	
	position:absolute;
	right:0px;
	top:1px;
	
	background:#fafafa;
	
	border-left:1px solid #ccc;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;

	height:20px;
	line-height:20px;
}

.ProfileTask_Title
{
	float:left;
	/* width:350px !important; */
	
	width:100%;

	font-size:14px;
	color:#555;

	margin:0;
	
	overflow:visible;
}


.Archive_ControlBox
{
	float:left;
	width:80%;
	font-size:11px;
	color:#555;
	line-height:20px;
	margin-left:5px;
}

#Archive_Btn
{
	float:left;
	width:80px;
}

a.Contacts_CollapsedGroup:link, a.Contacts_CollapsedGroup:visited, a.Contacts_CollapsedGroup:hover
{
	float:left;
	display:block;
	width:100%;
	margin:0;
	text-indent:15px;
	text-align:left;
	
	color:#555;
	border-bottom:1px solid #999;
	
	text-decoration:none;
	font-weight:bold;
	
	font-size:11px;
	line-height:15px;
	height:15px;
	
	background:url(/img/2008/controls/arrow_icons.png) 0 -22px no-repeat;
	
	cursor:default;
}

a.Contacts_ExpandedGroup:link, a.Contacts_ExpandedGroup:visited, a.Contacts_ExpandedGroup:hover
{
	float:left;
	display:block;
	width:100%;
	margin:0;
	text-indent:15px;
	text-align:left;
	
	color:#555;
	border-bottom:1px solid #999;
	
	text-decoration:none;
	font-weight:bold;
	
	font-size:11px;
	line-height:15px;
	height:15px;
	
	background:url(/img/2008/controls/arrow_icons.png) 0 -41px no-repeat;
	
	cursor:default;
}

	.ArchivedItem
	{
		float:left;
		width:570px;
	
		position:relative;
	
		margin:0 0 0 5px !important;
		margin:0 0 0 2px;
		padding:5px 0 5px 0;
		border-bottom:1px dashed #ccc;
	}

	.ArchivedItem_DateTime
	{
		float:left;
		display:block;
		
		padding-right:5px;
		
		width:85px !important;
		width:90px;

		border-right:1px solid #888;

		font-size:11px;
	
		font-weight:bold;
		color:#666;
		
		margin:0;
	
		text-align:right;
	}

	/* p{margin:5px 0 5px 0;font-size:11px;color:#222;} */

	.ArchivedItem_Body
	{
		float:right;
		clear:right;
		display:block;
		
		width:470px;
	
		color:#555;
	
		line-height:15px;
	}
	
#x_ArchivedContent
{
	float:left;
	display:block;
	width:100%;
	
	font-size:11px;
	color:#444;
	margin-top:5px;
}

	.ArchivedItem_Attachment
	{
		float:left;
		display:block;
		width:220px;
		height:30px;
		margin:10px 0 0 0;
		position:relative;
	}

#contactFirstName, #contactLastName {
	float:left;

	line-height:22px;
	font-size:17px;
	color:#666;
	margin:8px 5px 0 0;
	border:1px solid #bbb;
	-webkit-box-shadow:0 0 2px #777;
	outline:none;
}

#x_ContactName_Edit {
	float:left;
	margin-left:30px;
}