#x_List
{
	float:left;
	width:100%;
}

.PageList_Item
{
	/*
	float:right;
	clear:right;
	position:relative;
	
	width:570px !important;
	width:600px;
	height:30px;
	*/

	float:left;
	display:block;
	position:relative;
	
	width:82%;
	height:30px;
	
	margin:0;
	
	
	border-bottom:1px solid #eee;
	
	background-image:url(/img/iSpace/icon_post.gif);
	background-color:#fff;
	background-position:4px 8px;
	background-repeat:no-repeat;
}

.PageList_Item_Long
{
	float:left;
	clear:left;
	position:relative;
	
	width:100%;
	height:30px;
	
	margin:0;
	
	border-bottom:1px solid #eee;
	
	background-image:url(/img/iSpace/icon_post.gif);
	background-color:#fff;
	background-position:4px 7px;
	background-repeat:no-repeat;
}

.PageList_Item:hover, .PageList_Item_Long:hover
{
	background-color:#fafafa;
}

.PageList_Item:active, .PageList_Item_Long:active
{
	background-color:#eee;
}


	
.DashPanel
{
	float:left;
	width:375px;

	margin:0 5px 15px 2px !important;
	margin:0 5px 15px 0;
}

a.TodoLink:link, a.TodoLink:visited
{
	float:left;

	position:relative;
	
	margin:1px 0 0 10px;
	width:355px !important;
	width:365px;

	padding:5px 5px 5px 5px;
	text-decoration:none;
	font-size:11px;
	color:#555;
}

a.TodoLink:hover
{
	background:#eee;
}

a.TodoLink:active{background:#e5e5e5;}


.TimerItem
{
	float:left;

	position:relative;
	
	margin:5px 0 5px 10px;
	width:355px !important;
	width:365px;

	text-decoration:none;
	font-size:11px;
	color:#555;
	
	height:50px;
	overflow:hidden;
	
	background:url(/img/vClipper/timer_icon.jpg) left top no-repeat;
	
	border-bottom:1px dashed #ccc;
}

	.TimerItem_Digits
	{
		float:left;
		display:block;
		margin:0 0 0 45px;
		height:50px;
		
		padding-right:2px;
		background: url(/img/vClipper/timer_to_icon.jpg) right center no-repeat;
	}

	.digit
	{
		float:left;
		display:block;
		width:16px;
		height:21px;
		
		line-height:23px !important;
		line-height:21px;
		
		font-size:17px;
		font-weight:bold;
		color:#fff;
		background:url(/img/vClipper/timer_digit_bg.jpg) center center no-repeat;
		text-align:center;
		margin:14px 1px 0 0;
		font-family:Courier New, Tahoma, arial, sans-serif;
	}
	
	.Timer_Unit
	{
		float:left;
		display:block;
		margin-top:14px;
		width:40px;
		height:21px;
		line-height:19px;
		font-size:11px;
		color:#333;
		text-align:left;
	}
	
	.TimerItem_TaskInfo
	{
		float:left;
		position:relative;
		display:block;
		height:50px;
	}
	
	a.TimerItem_TaskLink:link, a.TimerItem_TaskLink:visited
	{
		float:left;
		text-decoration:none;
		font-size:13px;
		
		color:#27c;
		margin:14px 0 0 0;
	}
	
	a.TimerItem_TaskLink:hover
	{
		color:#000;
		text-decoration:underline;
	}
	
	.TimerItem_TaskDesc
	{
		font-size:11px;
		color:#777 !important;
		text-decoration:none !important;
	}
	.black
	{
		color:#000 !important;
	}
	
	a.PageList_Item_Trash:link, a.PageList_Item_Trash:visited
	{
		position:absolute;
		right:1px;
		top:6px;
		background:url(/img/App_GUI/Misc/trash.gif) center center no-repeat;

		width:20px;
		height:20px;
	}

	a.PageList_Item_Trash:hover{background-color:#666;}
	